{% trans_default_domain 'event' %}

{% set color = contentMainColor(result) %}

<div class="card h-100 border-{{ color }}" itemscope itemtype="https://schema.org/SportsEvent">
    {% if result.event.site is not null %}
        <twig:DynamicBadge text="Source : {{ result.event.site.name }}" icon="question-circle" color="{{ color }}" tooltip="Source : {{ result.event.site.name }}"/>
    {% endif %}

    {% if result.event.imagePath is not empty %}
        <img src="{{ contentMediaUrl(result.event.imagePath, event.site) | imagine_filter('thumbnail') }}" class="card-img-top" alt="">
    {% else %}
        <img src="{{ asset('main_image-643d9e1dcf5ad.jpg')|imagine_filter('thumbnail') }}" class="d-none d-md-block card-img-top" alt="">
    {% endif %}

    <div class="card-body py-1">
        <meta itemprop="startDate" content="{{ result.event.date|date("Y-m-d\\TH:i:sP") }}" />
        <meta itemprop="eventStatus" content="EventScheduled" />
        <meta itemprop="eventAttendanceMode" content="OfflineEventAttendanceMode" />
        <meta itemprop="url" content="{{ path('app_content_view', {page: page.slug, id: result.event.id, slug: result.event.slug}) }}" />

        <div class="h3">
            {% include '@OrienteeringManager/include/common/date.html.twig' with
                {
                    date_start: result.event.date,
                    date_end: result.event.endDate,
                    color: color ~ '-emphasis',
                    display_hour: false,
                    display_year: true,
                }
            %}
            {{ result.event.name }}
        </div>

        {% if result.event.currentUserRegistered %}
            {% include '@OrienteeringManager/utilities/item/item-message.html.twig' with { color: 'success', label: 'Vous y étiez inscrit(e)', icon: 'award'} only %}
        {% endif %}
    </div>

    <div class="card-footer bg-transparent">
        <div class="d-grid gap-2">
            <a class="btn btn-{{ color }} stretched-link z-1" href="{{ path('app_content_view', {page: page.slug, id: result.event.id, slug: result.event.slug}) }}">
                Voir les résultats
            </a>
        </div>
    </div>
</div>