{% extends '@OrienteeringManager/base_content.html.twig' %}

{% block title %}{{ page.title }}{% endblock %}

{% block meta_header %}
    {% if page.data.seo is defined %}
        {% include '@OrienteeringManager/utilities/meta_seo.html.twig' with {'seo': page.data.seo} only %}
    {% endif %}
{% endblock %}

{% block breadcrumb %}
    {{ _self.breadcrumb(page.breadcrumb) }}
{% endblock %}

{% block content_title %}
    {{ _self.title(page.title, page.icon, path('app_admin_page_edit', {id: page.id}), 'ROLE_ADMIN') }}
{% endblock content_title %}

{% block content_body %}
    {% if page.data.content is not empty %}
        <div class="row mb-4">
            <div class="col-12">
                {{ page.data.content|raw }}
            </div>
        </div>
    {% endif %}

    {% include '@OrienteeringManager/utilities/messages.html.twig' %}

    <div data-controller="symfony--ux-swup--swup" data-turbo="true">
        <div class="PackageList">
            <div class="row row-cols-1 row-cols-sm-2 row-cols-lg-3 row-cols-xxl-4 g-4 card-group order-1 order-md-0">
                {% for result in results %}
                    <div class="col">
                        {% include '@OrienteeringManager/content/event_result/item.html.twig' %}
                    </div>
                {% endfor %}
            </div>
        </div>

        {% if 1 < maxPages %}
            <nav class="py-4">
                <ul class="pagination pagination-lg">
                    {% for num in 1..maxPages %}
                        <li class="page-item {{ currentPage == num ? 'disabled' : '' }}">
                            <a class="page-link" href="{{ path('app_page', num > 1 ? {page: num, slug: page.slug} : {slug: page.slug}) }}" tabindex="{{ num }}">{{ num }}</a>
                        </li>
                    {% endfor %}
                </ul>
            </nav>
        {% endif %}
    </div>
{% endblock %}