{% extends '@OrienteeringManager/base_content.html.twig' %}

{% trans_default_domain 'event' %}

{% set event = item.event %}
{% set content_default_color = contentMainColor(item) %}

{% block title %}Résultats de {{ event.name }}{% endblock %}

{% block breadcrumb %}
    {{ _self.breadcrumb(breadcrumb) }}
{% endblock %}

{% block content_title %}
    <h1>
        <div class="d-flex">
            <i class="text-{{ content_default_color}} bi bi-trophy-fill me-2"></i>
            {% include '@OrienteeringManager/include/common/date.html.twig' with
                {
                    date_start: event.date,
                    date_end: event.endDate,
                    color: null,
                    display_hour: false,
                    display_year: true,
                }
            %}
        </div>
        {{ item.name }}
    </h1>

    {% if is_granted('ROLE_ADMIN') and item.event.site.current %}
        <a class="d-inline btn btn-outline-primary align-self-center" href="{{ path('app_admin_event_result_edit', {id: item.id}) }}"><i class="bi bi-pen me-0 me-md-2"></i><span class="d-none d-md-inline-block">Modifier</span></a>
    {% endif %}
{% endblock content_title %}

{% block content_updated_at %}
    {{ _self.updated_at(event.updatedAt) }}
{% endblock %}

{% block content_body %}
    {% if item.files is not empty %}
        <div class="h2 mb-3"><i class="bi bi-filetype-pdf me-2 text-{{ content_default_color }}"></i> Fichiers</div>

        <div class="row">
            {% for file in item.files %}
                <div class="col-12 col-md-6 col-lg-4 mb-2">
                    {% include '@OrienteeringManager/include/common/file.html.twig' with {file: file, color: content_default_color, site: item.event.site} only %}
                </div>
            {% endfor %}
        </div>
    {% endif %}
{% endblock %}
