{% extends '@OrienteeringManager/base_content.html.twig' %}

{% block content_title %}
    {{ _self.title("Apprendre à lire une carte", 'mortarboard') }}
{% endblock content_title %}

{% block content_body %}
    <div class="lead">

    </div>
{% endblock %}