{% extends '@OrienteeringManager/base_content.html.twig' %}

{% block content_title %}
    {{ _self.title("Comment utiliser l'application Vikazimut ?", 'question-circle') }}
{% endblock content_title %}

{% block content_body %}
    <div class="lead">
        Sur cette application, vous allez pouvoir retrouver nos différentes cartes où un parcours permanents de course d'orientation est installé, une boussole
        et en fonction du mode, sport ou promenade, un chronométrage ou positionnement GPS.
    </div>

    <div class="my-2">
        <h2>Télécharger l'application</h2>
        <a class="btn btn-secondary" href="https://play.google.com/store/apps/details?id=fr.ensicaen.vikazimut" target="_blank" rel="nofollow"><i class="bi bi-google-play me-2"></i>Google Play Store</a>
        <a class="btn btn-secondary" href="https://apps.apple.com/us/app/vikazimut/id1571112577#?platform=iphone" target="_blank" rel="nofollow"><i class="bi bi-apple me-2"></i>App Store</a>
    </div>
{% endblock %}