{% trans_default_domain 'admin' %}

<div class="row">
    <div class="mb-3" {{ stimulus_controller('form-collection') }}
         data-form-collection-index-value="{{ form.files|length > 0 ? form.files|last.vars.name + 1 : 0 }}"
         data-form-collection-prototype-value="{{ form_widget(form.files.vars.prototype)|e('html_attr') }}"
    >
        <ul class="list-unstyled" {{ stimulus_target('form-collection', 'collectionContainer') }}>
            {% for children in form.files.children %}
                <li class="d-flex mb-2">
                    {{ form_errors(children) }}
                    {{ form_widget(children, {'attr': {'class': 'form-control d-lg-flex justify-content-between'}}) }}
                    <button class="btn btn-outline-danger ms-2 align-self-start" {{ stimulus_action('form-collection', 'removeCollectionElement') }}>
                        <i class="bi bi-trash"></i>
                    </button>
                </li>
            {% endfor %}
        </ul>
        <button class="btn btn-outline-secondary" type="button" {{ stimulus_action('form-collection', 'addCollectionElement') }}>{{ 'admin.event.field.files.action.add'|trans }}</button>
    </div>
</div>