{% trans_default_domain 'admin' %}

<div class="row">
    <div class="col-12 col-md-6">
        {% include '@OrienteeringManager/admin/utilities/form/_input.html.twig' with {input: form.level} %}
    </div>

    <div class="col-12 col-md-3">
        {% include '@OrienteeringManager/admin/utilities/form/_checkbox.html.twig' with {checkbox: form.private} %}
    </div>

    <div class="col-12 col-md-3">
        {% include '@OrienteeringManager/admin/utilities/form/_input.html.twig' with {input: form.status} %}
    </div>

    <div class="col-12 col-md-6">
        {% include '@OrienteeringManager/admin/utilities/form/_checkbox.html.twig' with {checkbox: form.allowRegistration} %}
    </div>

    <div class="col-12 col-md-6">
        {% include '@OrienteeringManager/admin/utilities/form/_checkbox.html.twig' with {checkbox: form.result.live} %}
        {% if entity.id is not empty and entity.result is not empty and entity.result.id is not empty %}
            <div class="form-text text-muted help-text">{{ 'admin.result.configuration_live'|trans({'%url%': path('app_admin_live_configuration', {id: entity.id})})|raw }}</div>
        {% endif %}
    </div>

    <div class="col-12">
        <div class="mb-3" {{ stimulus_controller('form-collection') }}
            data-form-collection-index-value="{{ form.categories|length > 0 ? form.categories|last.vars.name + 1 : 0 }}"
            data-form-collection-prototype-value="{{ form_widget(form.categories.vars.prototype)|e('html_attr') }}"
        >
            {{ form_label(form.categories) }}
            <ul class="list-unstyled mb-0" {{ stimulus_target('form-collection', 'collectionContainer') }}>
                {% for children in form.categories.children %}
                    <li class="d-flex">
                        {{ form_errors(children) }}
                        {{ form_widget(children, {'attr': {'class': 'form-control d-lg-flex justify-content-between'}}) }}
                        <button class="btn btn-outline-danger ms-2 align-self-start" {{ stimulus_action('form-collection', 'removeCollectionElement') }}>
                            <i class="bi bi-trash"></i>
                        </button>
                    </li>
                {% endfor %}
            </ul>
            {{ form_help(form.categories) }}
            <button class="btn btn-outline-secondary mt-2" type="button" {{ stimulus_action('form-collection', 'addCollectionElement') }}>{{ 'admin.event.field.categories.action.add'|trans }}</button>
        </div>
    </div>
</div>