{% trans_default_domain 'admin' %}

<div class="row">
    <div class="col-12 mb-3" {{ stimulus_controller('form-collection') }}
         data-form-collection-index-value="{{ form.tracks|length > 0 ? form.tracks|last.vars.name + 1 : 0 }}"
         data-form-collection-prototype-value="{{ form_widget(form.tracks.vars.prototype)|e('html_attr') }}"
    >
        <ul class="list-unstyled" {{ stimulus_target('form-collection', 'collectionContainer') }}>
            {% for children in form.tracks.children %}
                <li class="d-flex mb-2">
                    {{ form_widget(children, {'attr': {'class': 'form-control d-lg-flex justify-content-between'}}) }}
                    <button class="btn btn-outline-danger ms-2" {{ stimulus_action('form-collection', 'removeCollectionElement') }}>
                        <i class="bi bi-trash"></i>
                    </button>
                </li>
            {% endfor %}
        </ul>
        <button class="btn btn-outline-secondary" type="button" {{ stimulus_action('form-collection', 'addCollectionElement') }}>{{ 'admin.event.field.tracks.action.add'|trans }}</button>
    </div>

    <div class="col-12">
        {% include '@OrienteeringManager/admin/utilities/form/_checkbox.html.twig' with {checkbox: form.allowHelpColorTracks} %}
    </div>

    <div class="col-12">
        {% include '@OrienteeringManager/admin/utilities/form/_checkbox.html.twig' with {checkbox: form.allowHelpColorTrackDark} %}
    </div>

    <div class="col-12">
        {% include '@OrienteeringManager/admin/utilities/form/_checkbox.html.twig' with {checkbox: form.allowHelpColorTrackPurple} %}
    </div>

    <div class="col-12">
        {% include '@OrienteeringManager/admin/utilities/form/_checkbox.html.twig' with {checkbox: form.allowHelpColorTrackOrange} %}
    </div>

    <div class="col-12">
        {% include '@OrienteeringManager/admin/utilities/form/_checkbox.html.twig' with {checkbox: form.allowHelpColorTrackYellow} %}
    </div>

    <div class="col-12">
        {% include '@OrienteeringManager/admin/utilities/form/_checkbox.html.twig' with {checkbox: form.allowHelpColorTrackGreen} %}
    </div>

    <div class="col-12">
        {% include '@OrienteeringManager/admin/utilities/form/_checkbox.html.twig' with {checkbox: form.allowHelpColorTrackBlue} %}
    </div>
</div>