{% trans_default_domain 'admin' %}

<div class="row">
    <div class="col-12">
        {% include '@OrienteeringManager/admin/utilities/form/_checkbox.html.twig' with {checkbox: form.registrationNeedValidation} %}
    </div>

    <div class="col-12">
        {% include '@OrienteeringManager/admin/utilities/form/_input.html.twig' with {input: form.registrationLimitDate} %}
    </div>

    <div class="col-12">
        {% include '@OrienteeringManager/admin/utilities/form/_input.html.twig' with {input: form.registrationDescription} %}
    </div>

    <div class="col-12">
        {% include '@OrienteeringManager/admin/utilities/form/_input.html.twig' with {input: form.registrationUrl} %}
    </div>

    <div class="col-12">
        {% include '@OrienteeringManager/admin/utilities/form/_checkbox.html.twig' with {checkbox: form.useCategory} %}
    </div>

    <div class="col-12 mb-3" {{ stimulus_controller('form-collection') }}
         data-form-collection-index-value="{{ form.prices|length > 0 ? form.prices|last.vars.name + 1 : 0 }}"
         data-form-collection-prototype-value="{{ form_widget(form.prices.vars.prototype)|e('html_attr') }}"
    >
        {{ form_label(form.prices) }}
        <ul class="list-unstyled" {{ stimulus_target('form-collection', 'collectionContainer') }}>
            {% for children in form.prices.children %}
                <li class="d-flex mb-2">
                    {{ form_widget(children) }}
                    <button class="btn btn-outline-danger ms-2" {{ stimulus_action('form-collection', 'removeCollectionElement') }}>
                        <i class="bi bi-trash"></i>
                    </button>
                </li>
            {% endfor %}
        </ul>
        <button class="btn btn-outline-secondary" type="button" {{ stimulus_action('form-collection', 'addCollectionElement') }}>{{ 'admin.event.field.prices.action.add'|trans }}</button>
    </div>
</div>