{% trans_default_domain 'admin' %}

<div class="row">
    <div class="col-12 col-md-8">
        {% include '@OrienteeringManager/admin/utilities/form/_input.html.twig' with {input: form.name} %}
    </div>
    <div class="col-12 col-md-4">
        {% include '@OrienteeringManager/admin/utilities/form/_input.html.twig' with {input: form.format} %}
    </div>

    <div class="col col-md-6">
        {% include '@OrienteeringManager/admin/utilities/form/_input.html.twig' with {input: form.date} %}
    </div>

    <div class="col col-md-6">
        {% include '@OrienteeringManager/admin/utilities/form/_input.html.twig' with {input: form.endDate} %}
    </div>

    <div class="col-12 col-md-4">
        {% include '@OrienteeringManager/admin/utilities/form/_input.html.twig' with {input: form.organizer} %}
    </div>

    <div class="col-12 col-md-8">
        {% include '@OrienteeringManager/admin/utilities/form/_input.html.twig' with {input: form.organizerWebsite} %}
    </div>
</div>
