{% extends '@OrienteeringManager/admin/form.html.twig' %}

{% trans_default_domain 'admin' %}

{% block form_content %}
    <div class="accordion" id="accordionPanelsAdminEvent">
        {% set accordionItemMainExpanded = entity.name is empty or entity.format is empty or entity.date is empty or entity.organizer is empty or entity.organizerWebsite is empty %}

        <div class="accordion-item">
            <h2 class="accordion-header" id="panels-form-main-header">
                <button class="accordion-button fw-bold {{ accordionItemMainExpanded ? '' : 'collapsed' }}" type="button" data-bs-toggle="collapse" data-bs-target="#panels-form-main-content" aria-expanded="{{ accordionItemMainExpanded }}" aria-controls="panels-form-main-content">
                    {{ 'admin.common.form.card.main'|trans }}
                    {% if not accordionItemMainExpanded %}<i class="ms-2 bi bi-check-circle-fill text-primary"></i>{% endif %}
                </button>
            </h2>
            <div id="panels-form-main-content" class="accordion-collapse collapse {{ accordionItemMainExpanded ? 'show' : '' }}" aria-labelledby="panels-form-main-header">
                <div class="accordion-body">
                    {% include '@OrienteeringManager/admin/event/_form_main.html.twig' %}
                </div>
            </div>
        </div>

        <div class="accordion-item">
            <h2 class="accordion-header" id="panels-form-config-header">
                <button class="accordion-button fw-bold" type="button" data-bs-toggle="collapse" data-bs-target="#panels-form-config-content" aria-expanded="true" aria-controls="panels-form-config-content">
                    {{ 'admin.common.form.card.config'|trans }}
                </button>
            </h2>
            <div id="panels-form-config-content" class="accordion-collapse collapse show" aria-labelledby="panels-form-config-header">
                <div class="accordion-body">
                    {% include '@OrienteeringManager/admin/event/_form_config.html.twig' %}
                </div>
            </div>
        </div>

        {% set accordionItemContentExpanded = entity.imagePath is empty or entity.content is empty %}

        <div class="accordion-item">
            <h2 class="accordion-header" id="panels-form-content-header">
                <button class="accordion-button fw-bold {{ accordionItemContentExpanded ? '' : 'collapsed' }}" type="button" data-bs-toggle="collapse" data-bs-target="#panels-form-content-content" aria-expanded="{{ accordionItemContentExpanded }}" aria-controls="panels-form-content-content">
                    {{ 'admin.common.form.card.content'|trans }}
                    {% if not accordionItemContentExpanded %}<i class="ms-2 bi bi-check-circle-fill text-primary"></i>{% endif %}
                </button>
            </h2>
            <div id="panels-form-content-content" class="accordion-collapse collapse {{ accordionItemContentExpanded ? 'show' : '' }}" aria-labelledby="panels-form-content-header">
                <div class="accordion-body">
                    {% include '@OrienteeringManager/admin/event/_form_content.html.twig' %}
                </div>
            </div>
        </div>

        {% set accordionItemLocationExpanded = entity.location is empty or entity.location.name is empty or entity.location.latitude is empty or entity.location.longitude is empty %}

        <div class="accordion-item">
            <h2 class="accordion-header" id="panels-form-location-header">
                <button class="accordion-button fw-bold {{ accordionItemLocationExpanded ? '' : 'collapsed' }}" type="button" data-bs-toggle="collapse" data-bs-target="#panels-form-location-content" aria-expanded="{{ accordionItemLocationExpanded }}" aria-controls="panels-form-location-content">
                    {{ 'admin.common.form.card.location'|trans }}
                    {% if not accordionItemLocationExpanded %}<i class="ms-2 bi bi-check-circle-fill text-primary"></i>{% endif %}
                </button>
            </h2>
            <div id="panels-form-location-content" class="accordion-collapse collapse {{ accordionItemLocationExpanded ? 'show' : '' }}" aria-labelledby="panels-form-location-header">
                <div class="accordion-body">
                    {% include '@OrienteeringManager/admin/event/_form_location.html.twig' %}
                </div>
            </div>
        </div>

        {% set accordionItemFilesExpanded = entity.imagePath is empty or entity.content is empty %}

        <div class="accordion-item">
            <h2 class="accordion-header" id="panels-form-files-header">
                <button class="accordion-button fw-bold {{ accordionItemFilesExpanded ? '' : 'collapsed' }}" type="button" data-bs-toggle="collapse" data-bs-target="#panels-form-files-content" aria-expanded="{{ accordionItemFilesExpanded }}" aria-controls="panels-form-files-content">
                    {{ 'admin.common.form.card.files'|trans }}
                    {% if not accordionItemFilesExpanded %}<i class="ms-2 bi bi-check-circle-fill text-primary"></i>{% endif %}
                </button>
            </h2>
            <div id="panels-form-files-content" class="accordion-collapse collapse {{ accordionItemFilesExpanded ? 'show' : '' }}" aria-labelledby="panels-form-files-header">
                <div class="accordion-body">
                    {% include '@OrienteeringManager/admin/event/_form_files.html.twig' %}
                </div>
            </div>
        </div>

        <div class="accordion-item">
            <h2 class="accordion-header" id="panels-form-registration-header">
                <button class="accordion-button fw-bold" type="button" data-bs-toggle="collapse" data-bs-target="#panels-form-registration-content" aria-expanded="true" aria-controls="panels-form-registration-content">
                    {{ 'admin.event.form.card.registration'|trans }}
                </button>
            </h2>
            <div id="panels-form-registration-content" class="accordion-collapse collapse show" aria-labelledby="panels-form-registration-header">
                <div class="accordion-body">
                    {% include '@OrienteeringManager/admin/event/_form_registration.html.twig' %}
                </div>
            </div>
        </div>

        {% set accordionItemTracksExpanded = entity.tracks is empty %}

        <div class="accordion-item">
            <h2 class="accordion-header" id="panels-form-tracks-header">
                <button class="accordion-button fw-bold {{ accordionItemTracksExpanded ? '' : 'collapsed' }}" type="button" data-bs-toggle="collapse" data-bs-target="#panels-form-tracks-content" aria-expanded="{{ accordionItemTracksExpanded }}" aria-controls="panels-form-tracks-content">
                    {{ 'admin.event.form.card.tracks'|trans }}
                    {% if not accordionItemTracksExpanded %}<i class="ms-2 bi bi-check-circle-fill text-primary"></i>{% endif %}
                </button>
            </h2>
            <div id="panels-form-tracks-content" class="accordion-collapse collapse {{ accordionItemTracksExpanded ? 'show' : '' }}" aria-labelledby="panels-form-tracks-header">
                <div class="accordion-body">
                    {% include '@OrienteeringManager/admin/event/_form_tracks.html.twig' %}
                </div>
            </div>
        </div>

        {% set accordionItemResultsExpanded = 'now'|date('U') > entity.date|date('U') %}

        <div class="accordion-item">
            <h2 class="accordion-header" id="panels-form-results-header">
                <button class="accordion-button fw-bold {{ accordionItemResultsExpanded ? '' : 'collapsed' }}" type="button" data-bs-toggle="collapse" data-bs-target="#panels-form-results-content" aria-expanded="{{ accordionItemResultsExpanded }}" aria-controls="panels-form-results-content">
                    {{ 'admin.event.form.card.results'|trans }}
                </button>
            </h2>
            <div id="panels-form-results-content" class="accordion-collapse collapse {{ accordionItemResultsExpanded ? 'show' : '' }}" aria-labelledby="panels-form-results-header">
                <div class="accordion-body">
                    {% include '@OrienteeringManager/admin/event/_form_results.html.twig' %}
                </div>
            </div>
        </div>
    </div>

    <div class="d-none">
        {{ form_rest(form) }}
    </div>
{% endblock %}
