{% extends '@OrienteeringManager/admin/list.html.twig' %}

{% trans_default_domain 'admin' %}

{% block list_title %}
    {{ 'admin.event.list.title'|trans }}
{% endblock %}

{% block filter_form %}
    {% include '@OrienteeringManager/utilities/form/filter/event.html.twig' %}
{% endblock %}

{% block list_item %}
    <twig:AdminEvent item="{{ entity }}" page="{{ page }}" />
{% endblock %}

{% block list_actions %}
    <div class="btn-group">
        <button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
            {{ 'admin.event.list.actions'|trans }}
        </button>
        <ul class="dropdown-menu">
            <li>
                <a class="dropdown-item" href="{{ path('app_admin_event_add') }}">
                    <i class="bi bi-plus-circle me-2"></i> {{ 'admin.event.list.action.add'|trans }}
                </a>
            </li>
        </ul>
    </div>
{% endblock %}

{% block list_pagination_page %}
    <li class="page-item {{ filter.page == num ? 'disabled' : '' }}">
        <a class="page-link" data-turbo="true" href="{{ path('app_admin_event_list', num > 1 ? {page: num, dateBefore: filter.dateBefore, dateAfter: filter.dateAfter} : {dateBefore: filter.dateBefore, dateAfter: filter.dateAfter}) }}" tabindex="{{ num }}">{{ num }}</a>
    </li>
{% endblock %}