{% trans_default_domain 'event' %}

{% set color = contentMainColor(map) %}

<div class="card h-100 border-{{ color }}">
    {% if map.site is not null %}
        <twig:DynamicBadge text="Source : {{ map.site.name }}" icon="question-circle" color="{{ color }}" tooltip="Source : {{ map.site.name }}"/>
    {% endif %}

    {% if map.imagePath is not empty %}
        <img src="{{ contentMediaUrl(map.imagePath, map.site)|imagine_filter('thumbnail') }}" class="d-none d-md-block card-img-top" alt="">
    {% else %}
        <img src="{{ asset('img-forest.webp')|imagine_filter('thumbnail') }}" class="d-none d-md-block card-img-top" alt="">
    {% endif %}

    <div class="card-body border-top py-2">
        <h4 class="card-title h4">{{ map.name }}</h4>

        {% if map.unavailable %}
            <div class="mb-2">  
                {% include '@OrienteeringManager/utilities/item/item-message.html.twig' with { color: 'warning', icon: 'cone-striped', label: 'Déplacement des balises en cours'} only %}
            </div>
        {% endif %}

        <div class="fst-italic">Dernière modification le {{ map.updatedAt|date('d/m/Y \à H:i') }}</div>

        {% if map.tags is defined and map.tags is not empty %}
            <div class="mb-2">
                {% for tag in map.tags %}
                    <span class="badge bg-success">{{ tag.label }}</span>
                {% endfor %}
            </div>
        {% endif %}
    </div>

    <div class="card-footer bg-transparent">
        <div class="d-grid gap-2">
            {% if map.filePath is defined and map.filePath is not empty %}
                <a href="{{ path('app_content_category_view', {id: map.id, slug: map.slug, page: page.slug, category: map.citySlug}) }}" class="btn btn-outline-dark stretched-link z-1">
                    <i class="bi bi-info-circle me-1"></i> Plus d'informations
                </a>

                <a rel="nofollow" href="{{ contentMediaUrl(map.filePath, map.site) }}" class="btn btn-{{ color }} position-relative z-3" target="_blank">
                    <i class="bi bi-download me-2"></i> Télécharger
                </a>
            {% else %}
                <a href="{{ path('app_content_category_view', {id: map.id, slug: map.slug, page: page.slug, category: map.citySlug}) }}" class="btn btn-{{ color }} stretched-link z-1">
                    Plus d'informations
                </a>
            {% endif %}
        </div>
    </div>
</div>