{% extends '@OrienteeringManager/base_content.html.twig' %}

{% block title %}{{ page.title }} de {{ city }}{% endblock %}

{% block meta_header %}
    <meta name="description" content="Tous les espaces sports orientation proposé par le Comité Départemental de Course d'Orientation du Finistère (CDCO29), et par le club de Quimper Orientation dans le département" />
{% endblock %}

{% block breadcrumb %}
    {{ _self.breadcrumb(page.breadcrumb) }}
{% endblock %}

{% block content_title %}
    {{ _self.title('%s de <span class="text-primary fw-bold">%s</span>'|format(page.title, city), page.icon, path('app_admin_page_edit', {id: page.id}), 'ROLE_ADMIN') }}
{% endblock content_title %}

{% block content_body %}
    {% include '@OrienteeringManager/utilities/messages.html.twig' %}

    {% if page.data.content is not empty %}
        <div class="lead">
            {{ page.data.content|raw }}
        </div>
    {% endif %}

    <div class="row row-cols-1 row-cols-sm-2 row-cols-lg-3 row-cols-xxl-4 g-4 card-group order-1 order-md-0">
        {% for map in maps %}
            <div class="col">
                {% include '@OrienteeringManager/content/map/item.html.twig' %}
            </div>
        {% endfor %}
    </div>

    <div class="row my-4">
        <div class="col-12">
            <h2 class="mb-1"><i class="text-secondary bi bi-phone me-1"></i>{{ page.data.titleVikazimut }}</h2>
        </div>

        <p class="lead">
            {{ page.data.descriptionVikazimut }}
        </p>

        {% if page.data.linkUrlVikazimut is not empty %}
            <div class="my-2">
                <a class="btn btn-secondary d-inline-block" href="{{ page.data.linkUrlVikazimut }}" rel="nofollow" target="_blank">{{ page.data.linkLabelVikazimut }}</a>
            </div>
        {% endif %}
    </div>
{% endblock %}