{% extends '@OrienteeringManager/base_content.html.twig' %}

{% block title %}{{ page.title }}{% endblock %}

{% block meta_header %}
    {% if page.data.seo is defined %}
        {% include '@OrienteeringManager/utilities/meta_seo.html.twig' with {'seo': page.data.seo} only %}
    {% endif %}
{% endblock %}

{% block breadcrumb %}
    {{ _self.breadcrumb(page.breadcrumb) }}
{% endblock %}

{% block content_title %}
    {{ _self.title(page.title, page.icon, path('app_admin_page_edit', {id: page.id}), 'ROLE_ADMIN') }}
{% endblock content_title %}

{% block content_banner %}
    {% if map is defined %}
        <div class="my-2">
            {{ ux_map(map, {style: 'height: 500px;'}) }}
        </div>
    {% endif %}
{% endblock %}

{% block content_body %}
    {% include '@OrienteeringManager/utilities/messages.html.twig' %}

    {% if page.data.content is not empty %}
        <div class="py-2 py-lg-4 lead">
            {{ page.data.content|raw }}
        </div>
    {% endif %}

    <div class="py-2 py-lg-4 row row-cols-1 row-cols-sm-2 row-cols-lg-3 row-cols-xxl-4 g-4 card-group order-1 order-md-0">
        {% for city, maps in cityMaps %}
            <div class="col">
                <div class="card h-100 border-primary">
                    <div class="card-body lead">
                        <div class="h2">{{ city }}</div>

                        {% if maps|length == 1 %}
                            Découvrez et entrainez vous sur le parcours permanent de <span class="text-primary-emphasis fw-bold">{{ city }}</span>
                        {% else %}
                            Découvrez et entrainez vous sur l'un des <span class="text-primary-emphasis fw-bold">{{ maps|length }}</span> parcours permanents de <span class="text-primary-emphasis fw-bold">{{ city }}</span>
                        {% endif %}
                    </div>

                    <div class="card-footer bg-transparent">
                        <a href="{{ maps|length == 1 ? path('app_content_category_view', {id: maps.0.id, slug: maps.0.slug, page: page.slug, category: maps.0.citySlug}) : path('app_content_category', {page: page.slug, category: maps.0.citySlug}) }}" class="btn btn-primary d-block stretched-link z-1">
                            Découvrir
                        </a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>

    <div class="py-2 py-lg-4">
        <h2 class="mb-1"><i class="text-secondary bi bi-phone me-1"></i>{{ page.data.titleVikazimut }}</h2>
        <div class="lead">
            {{ page.data.descriptionVikazimut }}
        </div>

        {% if page.data.linkUrlVikazimut is not empty %}
            <div class="my-2">
                <a class="btn btn-secondary d-block d-md-inline-block" href="{{ page.data.linkUrlVikazimut }}" rel="nofollow" target="_blank">{{ page.data.linkLabelVikazimut }}</a>
            </div>
        {% endif %}
    </div>
{% endblock %}