{% extends '@OrienteeringManager/base_content.html.twig' %}

{% block title %}{{ item.city }} - {{ item.name }}{% endblock %}

{% set content_default_color = contentMainColor(item) %}

{% block meta_header %}
    <meta name="description" content="Toutes les informations sur l'espace sport orientation {{ item.name }} situé à {{ item.city }}" />
{% endblock %}

{% block breadcrumb %}
    {{ _self.breadcrumb(breadcrumb) }}
{% endblock %}

{% block content_title %}
    <h1>
        <div class="d-flex">
            <i class="text-{{ content_default_color}} bi bi-map-fill me-2"></i>
            {{ item.city }} - {{ item.name }}
        </div>
    </h1>

    {% if is_granted('ROLE_ADMIN') and item.site.current %}
        <a class="d-inline btn btn-outline-primary align-self-center" href="{{ path('app_admin_map_edit', {id: item.id}) }}"><i class="bi bi-pen me-0 me-md-2"></i><span class="d-none d-md-inline-block">Modifier</span></a>
    {% endif %}
{% endblock content_title %}

{% block content_updated_at %}
    {{ _self.updated_at(item.updatedAt) }}
{% endblock %}

{% block content_banner %}
    <div class="my-2">
        {% if item.unavailable %}
            <div class="p-4 text-{{ content_default_color }}-emphasis bg-{{ content_default_color }}-subtle text-center fw-bold h6 mb-0" role="alert">
                <i class="bi bi-cone-striped me-2"></i> Déplacement des balises en cours
            </div>
        {% endif %}

        {% if map is defined and map is not empty %}
            <div class="d-flex">
                <div class="flex-fill">
                    {{ ux_map(map, {style: 'height: 350px;'}) }}
                </div>
            </div>
        {% endif %}
    </div>
{% endblock %}

{% block content_body %}
    {% if item.filePath is not empty %}
        <div class="row my-4">
            <div class="col-12">
                <a rel="nofollow" href="{{ contentMediaUrl(item.filePath, item.site) }}" class="d-block d-lg-inline-flex btn btn-lg btn-{{ content_default_color}} me-lg-1"><i class="bi bi-download me-2"></i> Télécharger le fichier PDF</a>
            </div>
        </div>
    {% endif %}

    <div class="row my-4">
        <div class="col-12 col-md-6 col-lg-5">
            <div class="h2 mb-3"><i class="bi bi-pin-map me-1 text-{{ content_default_color }}"></i>Accès et emplacement</div>

            <div class="lead">
                <i class="bi bi-exclamation-circle text-danger"></i> En cas d'alerte orange {% include '@OrienteeringManager/include/common/external_link.html.twig' with {
                    label: 'Météo France',
                    url: 'https://meteofrance.com/',
                    color: 'dark',
                    class: 'text-decoration-underline',
                } %}, pour des raisons de sécurité liées à la chute de branches, l'accès à la forêt est interdit.
            </div>

            <div class="my-2 lead">
                {% if item.city is not empty %}
                    <div class="h3 lead fw-bold text-{{ content_default_color }}">{{ item.city }}</div>
                {% endif %}
                <div>{{ item.name }}</div>
                {% if item.latitude is not empty and item.longitude is not empty %}
                    <div class="fst-italic"><i class="bi bi-crosshair"></i> Coordonnées GPS {{ '%s, %s'|format(item.latitude, item.longitude) }}</div>

                    <div class="d-block d-md-none">
                        {% include '@OrienteeringManager/include/common/external_link.html.twig' with {
                            'url': 'geo:%s,%s'|format(item.latitude, item.longitude),
                            'label': 'Y aller !',
                            'color': content_default_color,
                            'class': 'text-decoration-underline',
                        } only %}
                    </div>
                {% endif %}
            </div>
        </div>

        {% if item.content is not empty or item.vikazimut is not empty %}
            <div class="col-12 col-md-6 offset-lg-1 my-4 my-md-0">
                <div class="h2 mb-3"><i class="bi bi-info-circle me-1 text-{{ content_default_color }}"></i>A propos</div>

                <div class="lead">
                    {{ item.content|raw }}
                </div>

                {% if item.vikazimut is not empty %}
                    <a rel="nofollow" href="{{ item.vikazimut }}" class="d-block d-lg-inline-flex btn btn-lg btn-outline-info ms-lg-1 my-4 my-lg-0" target="_blank"><i class="bi bi-sign-turn-right me-2"></i> Voir sur Vikazimut</a>
                {% endif %}
            </div>
        {% endif %}
    </div>

    {% if item.allowHelpUseVikazimut or item.allowHelpReadMap %}
        <div class="my-4">
            <div class="h2 mb-3"><i class="bi bi-info-circle me-1 text-{{ content_default_color }}"></i>Informations utiles</div>

            <div class="row row-cols-1 row-cols-sm-2 row-cols-lg-3 g-4 card-group order-1 order-md-0">
                {% if item.allowHelpUseVikazimut %}
                    <div class="col">
                        <div class="card h-100">
                            <div class="card-body border-top py-2">
                                <h4 class="card-title h4"><i class="bi bi-question-circle me-2 text-{{ content_default_color }}"></i>Comment utiliser l'application Vikazimut ?</h4>
                            </div>

                            <div class="card-footer bg-body">
                                <a class="btn btn-{{ content_default_color }} d-block stretched-link" href="{{ path('app_help_vikazimut') }}">Voir la page d'aide</a>
                            </div>
                        </div>
                    </div>
                {% endif %}


                {% if item.allowHelpReadMap %}
                    <div class="col">
                        <div class="card h-100">
                            <div class="card-body border-top py-2">
                                <h4 class="card-title h4"><i class="bi bi-mortarboard me-2 text-{{ content_default_color }}"></i>Apprendre à lire une carte</h4>
                            </div>

                            <div class="card-footer bg-body">
                                <a class="btn btn-{{ content_default_color }} d-block stretched-link" href="{{ path('app_help_learning_read_map') }}">Voir la page</a>
                            </div>
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>
    {% endif %}
{% endblock %}
