{% trans_default_domain 'admin' %}

{% block main_menu %}
    {% block menu_content %}
        <h6 class="sidebar-heading d-flex px-3 mt-4 mb-1 text-muted">
            {{ 'admin.nav.content'|trans }}
        </h6>
        <ul class="nav flex-column">
            {% block content_links %}
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('app_admin_page_list') }}" data-turbo="false">
                        <i class="bi bi-file-plus me-2"></i>
                        {{ 'admin.nav.content.page'|trans }}
                    </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="{{ path('app_admin_event_list') }}" data-turbo="false">
                        <i class="bi bi-calendar-date me-2"></i>
                        {{ 'admin.nav.content.event'|trans }}
                    </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="{{ path('app_admin_event_result_list') }}" data-turbo="false">
                        <i class="bi bi-trophy me-2"></i>
                        {{ 'admin.nav.content.event_result'|trans }}
                    </a>
                </li>
            {% endblock %}
        </ul>
    {% endblock %}

    {% block menu_management %}
        <h6 class="sidebar-heading d-flex px-3 mt-4 mb-1 text-muted">
            {{ 'admin.nav.management'|trans }}
        </h6>
        <ul class="nav flex-column">
            {% block management_links %}
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('app_admin_event_registration_list') }}" data-turbo="false">
                        <i class="bi bi-ui-checks me-2"></i>
                        {{ 'admin.nav.management.event_registration'|trans }}
                    </a>
                </li>
            {% endblock %}
        </ul>
    {% endblock %}

    {% block menu_user %}
        <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
            <span>{{ 'admin.nav.user'|trans }}</span>
        </h6>
        <ul class="nav flex-column">
            {% block user_links %}
            {% endblock %}
        </ul>
    {% endblock %}

    {% block custom_menu %}{% endblock %}
{% endblock %}