{{ form_start(form, {
    'attr': {
        'data-controller': 'filter-form',
        'data-action': 'change->filter-form#debouncedSubmit input->filter-form#debouncedSubmit',
        'data-filter-form-debounce-value': '800',
        'data-turbo-frame': 'event-results'
    }
}) }}
<div class="col-12">
    {{ form_row(form.query) }}

    <div class="row row-cols-2">
        <div class="col">
            {{ form_row(form.dateAfter) }}
        </div>
        <div class="col">
            {{ form_row(form.dateBefore) }}
        </div>
    </div>
</div>
{{ form_end(form) }}