{% trans_default_domain 'admin' %}

<div class="row">
    <div class="col-12">
        {% include '@OrienteeringManager/admin/utilities/form/_input.html.twig' with {input: form.city} %}
    </div>

    {% include '@OrienteeringManager/admin/utilities/form/_map.html.twig' with {latitude: form.latitude, longitude: form.longitude} %}
</div>