{% trans_default_domain 'admin' %}

<div class="row">
    <div class="col-12 col-md-6">
        {% include '@OrienteeringManager/admin/utilities/form/_input.html.twig' with {input: form.level} %}
    </div>

    <div class="col-12 col-md-3">
        {% include '@OrienteeringManager/admin/utilities/form/_checkbox.html.twig' with {checkbox: form.private} %}
    </div>

    <div class="col-12 col-md-3">
        {% include '@OrienteeringManager/admin/utilities/form/_checkbox.html.twig' with {checkbox: form.unavailable} %}
    </div>
</div>