{% trans_default_domain 'admin' %}

<div class="row">
    <div class="col-12">
        {% include '@OrienteeringManager/admin/utilities/form/_image.html.twig' with {input: form.image, image: entity.imagePath, checkboxDelete: form.deleteImage} %}
    </div>

    <div class="col-12">
        {% include '@OrienteeringManager/admin/utilities/form/_input.html.twig' with {input: form.content} %}
    </div>

    <div class="col-12">
        {% include '@OrienteeringManager/admin/utilities/form/_input.html.twig' with {input: form.vikazimut} %}
    </div>

    <div class="col-12">
        {% include '@OrienteeringManager/admin/utilities/form/_checkbox.html.twig' with {checkbox: form.allowHelpUseVikazimut} %}
    </div>

    <div class="col-12">
        {% include '@OrienteeringManager/admin/utilities/form/_checkbox.html.twig' with {checkbox: form.allowHelpReadMap} %}
    </div>
</div>