{% trans_default_domain 'admin' %}

<div class="row">
    <div class="col-12">
        {% include '@OrienteeringManager/admin/utilities/form/_input.html.twig' with {input: form.name} %}
    </div>

    <div class="col-12">
        {% include '@OrienteeringManager/admin/utilities/form/_input.html.twig' with {input: form.file} %}
    </div>
</div>
