<div {{ attributes }}>
    {% if not deleted %}
        <div class="d-flex justify-content-between my-2 py-2 border-bottom position-relative" id="entity-{{ item.id }}">
            <div class="pe-4 d-flex flex-column flex-lg-row">
                <span class="fw-bold text-primary me-4">{{ item.city ~ ' - ' ~ item.name }}</span>
            </div>
            <div class="d-flex align-self-start flex-row-reverse">
                <div data-controller="dialog" data-action="click->dialog#backdropClose">
                    {% include '@OrienteeringManager/include/common/dialog.html.twig' with {
                        answer: '<p>Êtes vous sûr de vouloir supprimer <strong class="text-danger">%s</strong> ?</p>'|format(item.city ~ ' - ' ~ item.name),
                        cancelLabel: 'Annuler',
                        confirmLabel: 'Confirmer',
                        confirmAction: 'live#action',
                        confirmLiveParam: 'removeItem',
                    } only %}

                    <button type="submit" class="btn btn-outline-danger" data-action="dialog#open">
                        <i class="bi bi-trash"></i>
                    </button>
                </div>
                <a class="btn btn-outline-warning me-2" href="{{ path('app_admin_map_clone', {'id': item.id}) }}">
                    <i class="bi bi-copy"></i>
                </a>
                <a class="btn btn-outline-primary me-2" href="{{ path('app_admin_map_edit', {'id': item.id}) }}">
                    <i class="bi bi-pen"></i>
                </a>
                {% if page is defined and page is not empty %}
                    <a class="btn btn-outline-secondary me-2" href="{{ path('app_content_category_view', {'page': page.slug, 'id': item.id, 'slug': item.slug, 'category': item.citySlug}) }}">
                        <i class="bi bi-eye"></i>
                    </a>
                {% endif %}
            </div>
        </div>
    {% endif %}
</div>