{% extends '@OrienteeringManager/admin/map/form.html.twig' %}

{% trans_default_domain 'admin' %}

{% block form_title %}
    {{ 'admin.map.edit.title'|trans }} <span class="text-primary">{{ entity.name }}</span>
{% endblock %}
{% block form_submit %}
    <button type="submit" class="btn btn-primary" data-turbo="false">{{ 'admin.map.edit.action.submit'|trans }}</button>
{% endblock %}