{% extends '@OrienteeringManager/admin/form.html.twig' %}

{% trans_default_domain 'admin' %}

{% block form_content %}
    <div class="accordion" id="accordionPanelsAdminMap">
        {% set accordionItemMainExpanded = entity.name is empty or entity.filePath is empty %}

        <div class="accordion-item">
            <h2 class="accordion-header" id="panels-form-main-header">
                <button class="accordion-button fw-bold {{ accordionItemMainExpanded ? '' : 'collapsed' }}" type="button" data-bs-toggle="collapse" data-bs-target="#panels-form-main-content" aria-expanded="{{ accordionItemMainExpanded }}" aria-controls="panels-form-main-content">
                    {{ 'admin.common.form.card.main'|trans }}
                    {% if not accordionItemMainExpanded %}<i class="text-primary ms-2 bi bi-check-circle-fill text-primary"></i>{% endif %}
                </button>
            </h2>
            <div id="panels-form-main-content" class="accordion-collapse collapse {{ accordionItemMainExpanded ? 'show' : '' }}" aria-labelledby="panels-form-main-header">
                <div class="accordion-body">
                    {% include '@OrienteeringManager/admin/map/_form_main.html.twig' %}
                </div>
            </div>
        </div>

        <div class="accordion-item">
            <h2 class="accordion-header" id="panels-form-config-header">
                <button class="accordion-button fw-bold" type="button" data-bs-toggle="collapse" data-bs-target="#panels-form-config-content" aria-expanded="true" aria-controls="panels-form-config-content">
                    {{ 'admin.common.form.card.config'|trans }}
                </button>
            </h2>
            <div id="panels-form-config-content" class="accordion-collapse collapse show" aria-labelledby="panels-form-config-header">
                <div class="accordion-body">
                    {% include '@OrienteeringManager/admin/map/_form_config.html.twig' %}
                </div>
            </div>
        </div>

        {% set accordionItemLocationExpanded = entity.city is empty or entity.latitude is empty or entity.longitude is empty %}

        <div class="accordion-item">
            <h2 class="accordion-header" id="panels-form-location-header">
                <button class="accordion-button fw-bold {{ accordionItemLocationExpanded ? '' : 'collapsed' }}" type="button" data-bs-toggle="collapse" data-bs-target="#panels-form-location-content" aria-expanded="{{ accordionItemLocationExpanded }}" aria-controls="panels-form-location-content">
                    {{ 'admin.common.form.card.location'|trans }}
                    {% if not accordionItemLocationExpanded %}<i class="text-primary ms-2 bi bi-check-circle-fill text-primary"></i>{% endif %}
                </button>
            </h2>
            <div id="panels-form-location-content" class="accordion-collapse collapse {{ accordionItemLocationExpanded ? 'show' : '' }}" aria-labelledby="panels-form-location-header">
                <div class="accordion-body">
                    {% include '@OrienteeringManager/admin/map/_form_location.html.twig' %}
                </div>
            </div>
        </div>

        {% set accordionItemContentExpanded = entity.imagePath is empty or entity.content is empty %}

        <div class="accordion-item">
            <h2 class="accordion-header" id="panels-form-content-header">
                <button class="accordion-button fw-bold {{ accordionItemContentExpanded ? '' : 'collapsed' }}" type="button" data-bs-toggle="collapse" data-bs-target="#panels-form-content-content" aria-expanded="{{ accordionItemContentExpanded }}" aria-controls="panels-form-content-content">
                    {{ 'admin.common.form.card.content'|trans }}
                    {% if not accordionItemContentExpanded %}<i class="text-primary ms-2 bi bi-check-circle-fill text-primary"></i>{% endif %}
                </button>
            </h2>
            <div id="panels-form-content-content" class="accordion-collapse collapse {{ accordionItemContentExpanded ? 'show' : '' }}" aria-labelledby="panels-form-content-header">
                <div class="accordion-body">
                    {% include '@OrienteeringManager/admin/map/_form_content.html.twig' %}
                </div>
            </div>
        </div>
    </div>

    <div class="d-none">
        {{ form_rest(form) }}
    </div>
{% endblock %}
