<div data-controller="symfony--ux-swup--swup" data-turbo="true" class="my-4">
    <turbo-frame id="event-results">
        <div class="PackageList">
            <div class="row row-cols-1 row-cols-sm-2 row-cols-lg-3 row-cols-xxl-4 g-4 card-group order-1 order-md-0">
                {% for event in events %}
                    <div class="col">
                        {% include '@OrienteeringManager/content/event/item.html.twig' %}
                    </div>
                {% endfor %}
            </div>
        </div>

        {% if 1 < maxPages %}
            <nav class="py-4">
                <ul class="pagination pagination-lg">
                    {# Afficher maximum 7 pages avec la page courante au centre #}
                    {% set radius = 2 %}
                    
                    {# Première page #}
                    <li class="page-item {{ currentPage == 1 ? 'disabled' : '' }}">
                        <a class="page-link" href="{{ path('app_page', {slug: page.slug, query: query, dateBefore: dateBefore, dateAfter: dateAfter}) }}">1</a>
                    </li>

                    {# Ellipse gauche si nécessaire #}
                    {% if currentPage - radius > 2 %}
                        <li class="page-item disabled">
                            <span class="page-link">...</span>
                        </li>
                    {% endif %}

                    {# Pages autour de la page courante #}
                    {% for num in max(2, currentPage - radius)..min(maxPages - 1, currentPage + radius) %}
                        <li class="page-item {{ currentPage == num ? 'disabled' : '' }}">
                            <a class="page-link" href="{{ path('app_page', {page: num, slug: page.slug, query: query, dateBefore: dateBefore, dateAfter: dateAfter}) }}" tabindex="{{ num }}">{{ num }}</a>
                        </li>
                    {% endfor %}

                    {# Ellipse droite si nécessaire #}
                    {% if currentPage + radius < maxPages - 1 %}
                        <li class="page-item disabled">
                            <span class="page-link">...</span>
                        </li>
                    {% endif %}

                    {# Dernière page si pas déjà affichée #}
                    {% if maxPages > 1 %}
                        <li class="page-item {{ currentPage == maxPages ? 'disabled' : '' }}">
                            <a class="page-link" href="{{ path('app_page', {page: maxPages, slug: page.slug, query: query, dateBefore: dateBefore, dateAfter: dateAfter}) }}">{{ maxPages }}</a>
                        </li>
                    {% endif %}
                </ul>
            </nav>
        {% endif %}
    </turbo-frame>
</div>