{% trans_default_domain 'event' %}

{% set color = contentMainColor(event) %}

<div class="card h-100 border-{{ color }}" itemscope itemtype="https://schema.org/SportsEvent">
    <twig:DynamicBadge text="Source : {{ event.site.name }}" icon="question-circle" color="{{ color }}" tooltip="Source : {{ event.site.name }}"/>

    {% if event.imagePath is not empty %}
        <img src="{{ contentMediaUrl(event.imagePath, event.site)| imagine_filter('thumbnail') }}" class="card-img-top" alt="">
    {% else %}
        <img src="{{ asset('main_image-643d9e1dcf5ad.jpg')|imagine_filter('thumbnail') }}" class="d-none d-md-block card-img-top" alt="">
    {% endif %}

    <div class="card-body py-1">
        <meta itemprop="startDate" content="{{ event.date|date("Y-m-d\\TH:i:sP") }}" />
        <meta itemprop="eventStatus" content="EventScheduled" />
        <meta itemprop="eventAttendanceMode" content="OfflineEventAttendanceMode" />
        <meta itemprop="url" content="{{ path('app_content_view', {page: page.slug, id: event.id, slug: event.slug}) }}" />

        <div class="d-flex flex-column gap-2">
            <div class="h3 mb-0">
                {% include '@OrienteeringManager/include/common/date.html.twig' with
                    {
                        date_start: event.date,
                        date_end: event.endDate,
                        color: color ~ '-emphasis',
                        display_hour: false,
                        display_year: false,
                    }
                %}
                {{ event.name }}
            </div>

            {% if event.status is not empty %}
                {% include '@OrienteeringManager/content/item-message.html.twig' with { color: color, message: 'event.status.%s'|format(event.status.name)|trans} only %}
            {% elseif event.allowRegistration and event.registrationLimitDate > date() and event.registrationLimitDate <= date()|date_modify('+8 days') %}
                {% include '@OrienteeringManager/utilities/item/item-message.html.twig' with { color: 'warning', icon: 'hourglass-split', label: "Date limite d'inscription proche"} only %}
            {% elseif event.allowRegistration and event.registrationLimitDate < date() and event.date > date() %}
                {% include '@OrienteeringManager/utilities/item/item-message.html.twig' with { color: 'danger', icon: 'hourglass-bottom', label: "Date limite d'inscription dépassée"} only %}
            {% elseif event.result is not empty and event.result.live %}
                {% include '@OrienteeringManager/utilities/item/item-message.html.twig' with { color: color, icon: 'broadcast-pin', label: 'Live Center activé'} only %}
            {% endif %}

            <div class="row row-cols-2 row-cols-md-1 g-md-2">
                {% if event.format is not empty %}
                    <div class="col">
                        <i class="bi bi-info-circle me-1 text-{{ color }}-emphasis"></i> {{ 'event.format.%s'|format(event.format.name)|trans }}
                    </div>
                {% endif %}

                {% if event.organizer is not empty %}
                    <div class="col">
                        <i class="bi bi-person-gear me-1 text-{{ color }}-emphasis"></i> {{ event.organizer }}
                    </div>
                {% endif %}

                {% if event.location is not empty and event.location.name is not empty %}
                    <div class="col">
                        <i class="bi bi-pin-map me-1 text-{{ color }}-emphasis"></i> {{ event.location.name }}
                    </div>
                {% endif %}
            </div>
        </div>
    </div>

    <div class="card-footer bg-transparent">
        <div class="d-flex justify-content-between">
            {% if event.result is not empty and event.result.live and event.result.liveFilePath is not empty %}
                <a type="button" class="btn btn-outline-{{ color }} position-relative z-3 me-2" href="{{ event.result.liveFilePath }}">
                    Suivre les résultats
                </a>
            {% elseif event.currentUserRegistered %}
                <span class="me-2 align-self-center"><i class="text-{{ color }} bi bi-check-lg me-2"></i>Inscrit(e)</span>
            {% elseif is_granted('REGISTER', event) %}
                <a type="button" style="position: relative" class="me-2 btn btn-outline-{{ color }} position-relative z-3" href="{{ path('app_event_register', {page: page.slug, id: event.id, slug: event.slug}) }}">
                    S'inscrire
                </a>
            {% endif %}

            <a class="flex-fill btn btn-{{ color }} stretched-link z-1" href="{{ path('app_content_view', {page: page.slug, id: event.id, slug: event.slug}) }}">
                Voir le détail
            </a>
        </div>
    </div>
</div>