{% extends '@OrienteeringManager/base_content.html.twig' %}

{% trans_default_domain 'event' %}

{% block title %}{{ item.name }}{% endblock %}

{% set content_default_color = contentMainColor(item) %}

{% block meta_header %}
    <meta name="description" content="Toutes les informations sur l'événement {{ item.name }} organisé par {{ item.organizer }} le {{ item.date|format_datetime(pattern='d MMMM Y \à HH:mm', locale='fr') }} {{ item.location is defined and item.location is not empty ? ' à ' ~ item.location.name : '' }}" />
{% endblock %}

{% block breadcrumb %}
    {{ _self.breadcrumb(breadcrumb) }}
{% endblock %}

{% block content_title %}
    <h1>
        <div class="d-flex">
            <i class="text-{{ content_default_color}} bi bi-calendar2-event-fill me-2"></i>
            {% include '@OrienteeringManager/include/common/date.html.twig' with
                {
                    date_start: item.date,
                    date_end: item.endDate,
                    color: null,
                    display_hour: false,
                    display_year: false,
                }
            %}
        </div>
        {{ item.name }}
    </h1>

    {% if item.format is not empty %}
        <div class="h3 align-self-center d-none d-xl-block">
            <span class="badge rounded-pill fw-normal text-{{ content_default_color }}-emphasis bg-{{ content_default_color }}-subtle">
                <i class="bi bi-info-circle"></i>
                {{ 'event.format.%s'|format(item.format.name)|trans }}
            </span>
        </div>
    {% endif %}

    {% if is_granted('ROLE_ADMIN') and item.site.current %}
        <a class="d-inline btn btn-outline-{{ content_default_color }} align-self-center" href="{{ path('app_admin_event_edit', {id: item.id}) }}"><i class="bi bi-pen me-0 me-md-2"></i><span class="d-none d-md-inline-block">Modifier</span></a>
    {% endif %}
{% endblock content_title %}

{% block content_updated_at %}
    {% if item.format is not empty %}
        <div class="h3 align-self-center d-block d-xl-none">
            <span class="badge rounded-pill fw-normal text-{{ content_default_color }}-emphasis bg-{{ content_default_color }}-subtle">
                <i class="bi bi-info-circle"></i>
                {{ 'event.format.%s'|format(item.format.name)|trans }}
            </span>
        </div>
    {% endif %}

    {{ _self.updated_at(item.updatedAt) }}
{% endblock %}

{% block content_banner %}
    <div class="my-2">
        {% if item.result is not empty and (item.result.live or item.result.files is not empty) %}
            <div class="container-fluid container-lg my-4">
                <div class="h2"><i class="bi bi-trophy me-1 text-success"></i>Résultats</div>
                {% if item.result.files is not empty %}
                    <span class="lead">Les résultats de cet événement ont été publiés</span>
                    <div class="mt-2">
                        <a href="{{ path('app_content_view', {page: pageEventResultList.slug, id: item.id, slug: item.slug}) }}" class="btn btn-outline-light">Consulter les résultats</a>
                    </div>
                {% elseif item.result.live and item.result.liveFilePath is not empty %}
                    <span class="lead">Suivez les résultats en direct de la course en accédant au lien ci-dessous</span>
                    <div class="mt-2">
                        <a href="{{ item.result.liveFilePath }}" class="btn btn-outline-light" rel="nofollow">Suivre les résultats en direct</a>
                    </div>
                {% elseif item.result.live %}
                    <span class="lead">Les résultats pour cet événement seront bientôt disponibles en direct dès l'arrivée du premier coureur.</span>
                {% endif %}
            </div>
        {% elseif item.status is not empty %}
            <div class="container-fluid bg-danger text-white py-4">
                <div class="container-lg">
                    <div class="h1">Annulé</div>
                    <span class="lead">Cet événement est annulé.</span>
                </div>
            </div>
        {% endif %}

        {% if map is defined or item.imagePath is not empty %}
            <div class="d-flex">
                {% if item.imagePath is not empty %}
                    <div class="d-none d-md-block">
                        <img src="{{ contentMediaUrl(item.imagePath, item.site) }}" height="350px">
                    </div>
                {% endif %}

                {% if map is defined and map is not empty %}
                    <div class="flex-fill">
                        {{ ux_map(map, {style: 'height: 350px;'}) }}
                    </div>
                {% endif %}
            </div>
        {% endif %}
    </div>
{% endblock %}

{% block content_body %}
    <div class="d-flex flex-column gap-4">
        <div class="row row-cols-2 row-cols-lg-4 g-3 g-lg-5 card-group text-md-center">
            {% if item.location is not empty and (item.location.name is not empty or item.location.description is not empty) %}
                <div class="col order-1">
                    <div class="h2 text-nowrap"><i class="bi bi-pin-map text-{{ content_default_color }}-emphasis"></i>Où ?</div>

                    {% if item.location.name is not empty %}
                        <div class="lead fw-bold text-{{ content_default_color }}-emphasis">{{ item.location.name }}</div>
                    {% endif %}

                    {% if item.location.description is not empty %}
                        <div>{{ item.location.description }}</div>
                    {% endif %}
                </div>
            {% endif %}

            <div class="col order-2">
                <div class="h2 text-nowrap"><i class="bi bi-calendar-date text-{{ content_default_color }}-emphasis me-1"></i>Quand ?</div>

                <div class="lead align-items-center fw-bold text-{{ content_default_color }}-emphasis">
                    {% include '@OrienteeringManager/include/common/date.html.twig' with
                        {
                            date_start: item.date,
                            date_end: item.endDate,
                            color: content_default_color ~ '-emphasis',
                            display_hour: true,
                            display_year: true,
                        }
                    %}
                </div>

                {% include '@OrienteeringManager/include/common/external_link.html.twig' with {
                    label: "Enregistrer dans mon agenda",
                    url: path('app_event_export', {page: page.slug, id: item.id, slug: item.slug}),
                    color: 'dark',
                    class: 'text-decoration-underline',
                } only %}
            </div>

            <div class="col order-4 order-lg-3">
                <div class="h2 text-nowrap"><i class="bi bi-person-gear text-{{ content_default_color }}-emphasis me-1"></i>Qui ?</div>
                {% if item.organizer is not empty%}
                    <div class="lead fw-bold text-{{ content_default_color }}-emphasis">{{ item.organizer }}</div>
                {% else %}
                    <div class="lead fw-bold text-{{ content_default_color }}-emphasis">{{ item.site.name }}</div>
                {% endif %}

                {% if item.organizerWebsite is not empty%}
                    {% include '@OrienteeringManager/include/common/external_link.html.twig' with {
                        label: "Site de l'organisateur",
                        url: item.organizerWebsite,
                        color: 'dark',
                        class: 'text-decoration-underline',
                    } only %}
                {% elseif not item.site.current %}
                    {% include '@OrienteeringManager/include/common/external_link.html.twig' with {
                        label: "Site de l'organisateur",
                        url: item.site.url,
                        color: 'dark',
                        class: 'text-decoration-underline',
                    } only %}
                {% endif %}
            </div>

            {% if date() <= item.date %}
                <div class="col order-3 order-lg-4">
                    {% if not item.allowRegistration %}
                        {% set content_registration_default_color = 'dark' %}
                    {% elseif '+7 days'|date('U') < item.registrationLimitDate|date('U') %}
                        {% set content_registration_default_color = content_default_color %}
                    {% elseif 'now'|date('U') < item.registrationLimitDate|date('U') %}
                        {% set content_registration_default_color = 'warning' %}
                    {% else %}
                        {% set content_registration_default_color = 'danger' %}
                    {% endif %}

                    <div class="h2 text-nowrap"><i class="bi bi-person-plus text-{{ content_registration_default_color }}-emphasis me-1"></i>Inscriptions</div>

                    {% if item.allowRegistration %}
                        {% if date('+7 days') < item.registrationLimitDate %}
                            <div class="lead d-inline-flex px-2 py-1 text-{{ content_registration_default_color }}-emphasis bg-{{ content_registration_default_color }}-subtle border border-{{ content_registration_default_color }}-subtle rounded-2"><i class="bi bi-check-lg fw-bold me-1"></i>Activées</div>
                            <span>
                                Jusqu'au {{ item.registrationLimitDate|format_date(pattern='dd MMMM Y') }} à {{ item.registrationLimitDate|format_date(pattern='HH:mm') }}
                            </span>
                        {% elseif date() < item.registrationLimitDate %}
                            <div class="lead d-inline-flex px-2 py-1 text-{{ content_registration_default_color }}-emphasis bg-{{ content_registration_default_color }}-subtle border border-{{ content_registration_default_color }}-subtle rounded-2"><i class="bi bi-hourglass-split fw-bold me-1"></i>Date proche</div>
                            <span>
                                Jusqu'au {{ item.registrationLimitDate|format_date(pattern='dd MMMM Y') }} à {{ item.registrationLimitDate|format_date(pattern='HH:mm') }}
                            </span>
                        {% else %}
                            <div class="lead d-inline-flex px-2 py-1 text-{{ content_registration_default_color }}-emphasis bg-{{ content_registration_default_color }}-subtle border border-{{ content_registration_default_color }}-subtle rounded-2"><i class="bi bi-hourglass-bottom fw-bold me-1"></i>Terminées</div>
                        {% endif %}

                        {% if date() < item.registrationLimitDate %}
                            {% if item.registrationUrl is empty %}

                            {% else %}
                                <a class="mt-3 btn btn-outline-{{ content_registration_default_color }}" href="{{ item.registrationUrl }}" target="_blank">
                                    S'inscrire
                                </a>
                            {% endif %}
                        {% endif %}
                    {% else %}
                        <div class="lead">
                            <span class="badge rounded-pill border border-{{ content_registration_default_color }} text-{{ content_registration_default_color }}"><i class="bi bi-dash-circle"></i> Désactivées</span>
                        </div>
                    {% endif %}
                </div>
            {% endif %}
        </div>

        {% if item.content is not empty %}
            <div class="lead">
                {{ item.content|raw }}
            </div>
        {% endif %}

        {% if item.files is not empty %}
            <div>
                <div class="h2"><i class="bi bi-filetype-pdf me-1 text-{{ content_default_color }}"></i>Fichiers</div>
            
                <div class="row row-cols-2 row-cols-md-3 row-cols-lg-4 g-2 card-group">
                    {% for file in item.files %}
                        <div class="col">
                            {% include '@OrienteeringManager/include/common/file.html.twig' with {file: file, color: content_default_color, site: item.site} only %}
                        </div>
                    {% endfor %}
                </div>
            </div>
        {% endif %}

        <div class="row">
            {% if item.tracks is not empty %}
                <div class="col-12 col-md-5">
                    <div class="my-2">
                        <h2 class="h2"><i class="bi bi-signpost-split me-1 text-{{ content_default_color }}"></i>{{ 'event.tracks'|trans }}</h2>

                        <table class="table table-striped my-2">
                            <tbody>
                            {% for track in item.tracks %}
                                <tr>
                                    <td>
                                        <span class="lead me-4">{{ track.name }}</span>
                                        <span class="text-muted">{{ track.length }}</span>
                                        <span class="text-muted">{{ track.elevationGain }}</span>
                                    </td>
                                    <td class="text-center">{{ 'event.track.count'|trans({'%count%': track.numberRegistrations}) }}</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>

                    <div class="my-2">
                        {% if item.allowHelpColorTracks %}
                            <img src="{{ asset('track_color.webp') }}">

                            <div class="row row-cols-2 row-cols-sm-3 row-cols-md-2 row-cols-lg-3 g-2 card-group my-2">
                                {% if item.allowHelpColorTrackGreen %}
                                    <div class="col">
                                        <img class="img-fluid" src="{{ asset('track-green.webp') }}">
                                    </div>
                                {% endif %}
                                {% if item.allowHelpColorTrackBlue %}
                                    <div class="col">
                                        <img class="img-fluid" src="{{ asset('track-blue.webp') }}">
                                    </div>
                                {% endif %}
                                {% if item.allowHelpColorTrackYellow %}
                                    <div class="col">
                                        <img class="img-fluid" src="{{ asset('track-yellow.webp') }}">
                                    </div>
                                {% endif %}
                                {% if item.allowHelpColorTrackOrange %}
                                    <div class="col">
                                        <img class="img-fluid" src="{{ asset('track-orange.webp') }}">
                                    </div>
                                {% endif %}
                                {% if item.allowHelpColorTrackPurple %}
                                    <div class="col">
                                        <img class="img-fluid" src="{{ asset('track-purple.webp') }}">
                                    </div>
                                {% endif %}
                                {% if item.allowHelpColorTrackDark %}
                                    <div class="col">
                                        <img class="img-fluid" src="{{ asset('track-dark.webp') }}">
                                    </div>
                                {% endif %}
                            </div>
                        {% endif %}
                    </div>
                </div>
            {% endif %}

            {% if item.allowRegistration %}
                <div class="col-12 {{ item.tracks is not empty ? 'offset-md-1 col-md-6' : 'col-md-12' }}">
                    <div class="my-2">
                        <div class="h2"><i class="bi bi-person-plus me-1 text-{{ content_default_color }}"></i>Détail des inscriptions</div>

                        {% if item.registrationDescription is not empty %}
                            <div class="my-2 lead">
                                {{ item.registrationDescription|raw }}
                            </div>
                        {% endif %}

                        {% if item.allowRegistration %}
                            <span class="lead">
                                Limite d'inscription le <b>{{ item.registrationLimitDate|format_datetime(pattern='d MMMM Y \à HH:mm', locale='fr') }}</b>
                            </span>
                            
                            {% include '@OrienteeringManager/content/registration/list.html.twig' %}
                        {% elseif item.registrationUrl is not empty %}
                            <a class="btn btn-lg btn-primary" href="{{ item.registrationUrl }}" target="_blank">S'inscrire à l'événement</a>
                        {% else %}
                            <div class="lead">
                                Les inscriptions pour cet événement ne sont pas possibles sur ce site pour le moment.
                            </div>
                        {% endif %}
                    </div>
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}
