<div class="card-header border-top border-{{ color }} bg-{{ color }}-subtle text-{{ color }}-emphasis text-center">
    {% if icon is defined %}<i class="bi bi-{{ icon }} me-2"></i>{% endif %}{{ message|raw }}
</div>