<div {{ attributes }}>
    {% if not validated %}
        <div class="d-flex justify-content-between my-2 py-2 border-bottom position-relative">
            <div class="pe-4 d-flex flex-column flex-lg-row">
                {% set color = {
                    'created': 'info',
                    'updated': 'warning',
                    'deleted': 'danger',
                    'validated': 'success'
                } %}
                <span class="text-{{ color[item.status.value] ?? 'primary' }} typed-cursor me-2" aria-hidden="true"><i class="bi bi-circle-fill ms-2"></i></span>
                <div class="">
                    <div class="">
                        <span class="fw-bold">{{ item.event.name ~ ' du ' ~ item.event.date|format_date ~ ' : ' ~ item.firstName ~ ' ' ~ item.lastName }}</span>
                    </div>
                    {% if item.cardNumber is not empty %}
                        <div class="">
                            <span><span class="text-secondary">{{ 'registration.field.cardNumber.label'|trans({}, 'registration') }}</span> {{ item.cardNumber }}</span>
                        </div>
                    {% endif %}
                    {% if item.track is not empty %}
                        <div class="">
                            <span><span class="text-secondary">{{ 'registration.field.trackIri.label'|trans({}, 'registration') }}</span> {{ item.track.name }}</span>
                        </div>
                    {% endif %}
                    {% if item.comment is not empty %}
                        <div class="">
                            <span><span class="text-secondary">{{ 'registration.field.comment.label'|trans({}, 'registration') }}</span> {{ item.comment }}</span>
                        </div>
                    {% endif %}
                </div>
            </div>
            <div class="d-flex align-self-start flex-row-reverse">
                <button type="button" class="btn btn-outline-success" data-action="live#action" data-live-action-param="validateItem">
                    <i class="bi bi-check"></i> Valider les modifications
                </button>
            </div>
        </div>
    {% else %}
        <div class="alert alert-success my-2" role="alert">
            Validation enregistrée
        </div>
    {% endif %}
</div>