{% extends '@OrienteeringManager/admin/event/form.html.twig' %}

{% trans_default_domain 'admin' %}

{% block form_title %}
    {{ 'admin.event.add.title'|trans }}
{% endblock %}

{% block form_submit %}
    <button type="submit" class="btn btn-primary" data-turbo="false">{{ 'admin.event.add.action.submit'|trans }}</button>
{% endblock %}