{% extends '@OrienteeringManager/admin/form.html.twig' %}

{% trans_default_domain 'admin' %}

{% block form_content %}
    <nav>
        <div class="nav nav-tabs flex-row flex-nowrap overflow-x-auto overflow-y-hidden" id="nav-tab" role="tablist">
            <button class="nav-link active" id="nav-main-tab" data-bs-toggle="tab" data-bs-target="#nav-main" type="button" role="tab" aria-controls="nav-main" aria-selected="true">
                {{ 'admin.event.form.nav.main'|trans }}
            </button>

            <button class="nav-link" id="nav-location-tab" data-bs-toggle="tab" data-bs-target="#nav-location" type="button" role="tab" aria-controls="nav-location" aria-selected="true">
                {{ 'admin.event.form.nav.location'|trans }}
            </button>

            <button class="nav-link" id="nav-register-tab" data-bs-toggle="tab" data-bs-target="#nav-register" type="button" role="tab" aria-controls="nav-register" aria-selected="true">
                {{ 'admin.event.form.nav.registration'|trans }}
            </button>

            <button class="nav-link" id="nav-content-tab" data-bs-toggle="tab" data-bs-target="#nav-content" type="button" role="tab" aria-controls="nav-content" aria-selected="true">
                {{ 'admin.event.form.nav.content'|trans }}
            </button>

            <button class="nav-link" id="nav-files-tab" data-bs-toggle="tab" data-bs-target="#nav-files" type="button" role="tab" aria-controls="nav-files" aria-selected="true">
                {{ 'admin.event.form.nav.files'|trans }}
            </button>

            <button class="nav-link" id="nav-results-tab" data-bs-toggle="tab" data-bs-target="#nav-results" type="button" role="tab" aria-controls="nav-results" aria-selected="true">
                {{ 'admin.event.form.nav.results'|trans }}
            </button>
        </div>
    </nav>
    <div class="tab-content" id="nav-tabContent">
        <div class="my-4 tab-pane fade show active" id="nav-main" role="tabpanel" aria-labelledby="nav-main-tab">
            {{ form_row(form.name) }}
            {{ form_row(form.date) }}
            {{ form_row(form.organizer) }}
            {{ form_row(form.private) }}
        </div>

        <div class="my-4 tab-pane fade location" id="nav-location" role="tabpanel" aria-labelledby="nav-location-tab">
            {{ form_row(form.location.name) }}
            {{ form_row(form.location.description) }}

            <div class="mb-3">
                <label class="form-label required" for="map">{{ 'admin.event.field.location.latLng'|trans }}</label>
                <div id="map" type="input-editable"></div>
            </div>

            {{ form_row(form.location.latitude) }}
            {{ form_row(form.location.longitude) }}
        </div>

        <div class="my-4 tab-pane fade" id="nav-register" role="tabpanel" aria-labelledby="nav-register-tab">
            {{ form_row(form.allowRegistration) }}
            {{ form_row(form.useCategory) }}
            {{ form_row(form.registrationLimitDate) }}
            {{ form_row(form.registrationUrl) }}

            <div class="mb-3" {{ stimulus_controller('form-collection') }}
                 data-form-collection-index-value="{{ form.tracks|length > 0 ? form.tracks|last.vars.name + 1 : 0 }}"
                 data-form-collection-prototype-value="{{ form_widget(form.tracks.vars.prototype)|e('html_attr') }}"
            >
                {{ form_label(form.tracks) }}
                <ul class="list-unstyled" {{ stimulus_target('form-collection', 'collectionContainer') }}>
                    {% for children in form.tracks.children %}
                        <li class="d-flex mb-2">
                            {{ form_widget(children, {'attr': {'class': 'form-control d-lg-flex justify-content-between'}}) }}
                            <button class="btn btn-outline-danger ms-2" {{ stimulus_action('form-collection', 'removeCollectionElement') }}>
                                <i class="bi bi-trash"></i>
                            </button>
                        </li>
                    {% endfor %}
                </ul>
                <button class="btn btn-outline-secondary" type="button" {{ stimulus_action('form-collection', 'addCollectionElement') }}>{{ 'admin.event.field.tracks.action.add'|trans }}</button>
            </div>

            <div class="mb-3" {{ stimulus_controller('form-collection') }}
                 data-form-collection-index-value="{{ form.prices|length > 0 ? form.prices|last.vars.name + 1 : 0 }}"
                 data-form-collection-prototype-value="{{ form_widget(form.prices.vars.prototype)|e('html_attr') }}"
            >
                {{ form_label(form.prices) }}
                <ul class="list-unstyled" {{ stimulus_target('form-collection', 'collectionContainer') }}>
                    {% for children in form.prices.children %}
                        <li class="d-flex mb-2">
                            {{ form_widget(children) }}
                            <button class="btn btn-outline-danger ms-2" {{ stimulus_action('form-collection', 'removeCollectionElement') }}>
                                <i class="bi bi-trash"></i>
                            </button>
                        </li>
                    {% endfor %}
                </ul>
                <button class="btn btn-outline-secondary" type="button" {{ stimulus_action('form-collection', 'addCollectionElement') }}>{{ 'admin.event.field.prices.action.add'|trans }}</button>
            </div>
        </div>

        <div class="my-4 tab-pane fade" id="nav-content" role="tabpanel" aria-labelledby="nav-content-tab">
            {{ form_row(form.content) }}
        </div>

        <div class="my-4 tab-pane fade files" id="nav-files" role="tabpanel" aria-labelledby="nav-files-tab">
            <div class="mb-3" {{ stimulus_controller('form-collection') }}
                 data-form-collection-index-value="{{ form.files|length > 0 ? form.files|last.vars.name + 1 : 0 }}"
                 data-form-collection-prototype-value="{{ form_widget(form.files.vars.prototype)|e('html_attr') }}"
            >
                {{ form_label(form.files) }}
                <ul class="list-unstyled" {{ stimulus_target('form-collection', 'collectionContainer') }}>
                    {% for children in form.files.children %}
                        <li class="d-flex mb-2">
                            {{ form_widget(children, {'attr': {'class': 'form-control d-lg-flex justify-content-between'}}) }}
                            <button class="btn btn-outline-danger ms-2 align-self-start" {{ stimulus_action('form-collection', 'removeCollectionElement') }}>
                                <i class="bi bi-trash"></i>
                            </button>
                        </li>
                    {% endfor %}
                </ul>
                <button class="btn btn-outline-secondary" type="button" {{ stimulus_action('form-collection', 'addCollectionElement') }}>{{ 'admin.event.field.files.action.add'|trans }}</button>
            </div>
        </div>

        <div class="my-4 tab-pane fade results" id="nav-results" role="tabpanel" aria-labelledby="nav-results-tab">
            <div class="d-flex">
                {{ form_row(form.result.live) }}
                {% if entity.id is not empty %}
                    <span class="mx-4 fst-italic">Pour configurer le Live Center le jour de la course aller sur <a href="{{ path('app_admin_live_configuration', {id: entity.id}) }}">ce formulaire</a></span>
                {% endif %}
            </div>
        </div>
    </div>

    <div class="d-none">
        {{ form_rest(form) }}
    </div>
{% endblock %}
