{% extends '@OrienteeringManager/admin/list.html.twig' %}

{% trans_default_domain 'admin' %}

{% block list_title %}
    {{ 'admin.event_registration.list.title'|trans }}
{% endblock %}

{% block list_legend %}
    <div class="mt-5">
        <span class="text-info typed-cursor me-2" aria-hidden="true"><i class="bi bi-circle-fill ms-2"></i> Nouvelles inscriptions</span>
        <span class="text-warning typed-cursor me-2" aria-hidden="true"><i class="bi bi-circle-fill ms-2"></i> Inscriptions modifiées</span>
        <span class="text-danger typed-cursor me-2" aria-hidden="true"><i class="bi bi-circle-fill ms-2"></i> Inscriptions supprimées</span>
    </div>
{% endblock %}

{% block list_item %}
    <twig:AdminEventRegistration item="{{ entity }}" page="{{ page }}" />
{% endblock %}

{% block list_item_no_results %}{{ 'admin.event_registration.list.no_results'|trans }}{% endblock %}