<nav aria-label="breadcrumb">
    <ol class="breadcrumb overflow-x-auto text-nowrap" itemscope itemtype="https://schema.org/BreadcrumbList">

        <li class="breadcrumb-item" itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem">
            <a href="{{ path('app_homepage') }}" itemprop="item"><i class="bi bi-house"></i></a>
            <meta itemid="{{ path('app_homepage') }}">
            <meta itemprop="name" content="Accueil">
            <meta itemprop="position" content="0">
        </li>

        {% if breadcrumb is defined and breadcrumb is not empty %}
            {% for item in breadcrumb.items %}
                {% if loop.last %}
                    <li class="breadcrumb-item active" aria-current="page" itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem">
                        <span itemscope itemprop="item" itemid="{{ app.request.uri }}">{{ item.label }}</span>
                        <meta itemprop="name" content="{{ item.label }}">
                        <meta itemprop="position" content="{{ loop.index + 1 }}">
                        <meta itemprop="type" content="https://schema.org/ListItem">
                    </li>
                {% else %}
                    <li class="breadcrumb-item" itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem">
                        <a class="" href="{{ item.url }}" itemprop="item">{{ item.label }}</a>
                        <meta itemid="{{ item.url }}">
                        <meta itemprop="name" content="{{ item.label }}">
                        <meta itemprop="position" content="{{ loop.index + 1 }}">
                        <meta itemprop="type" content="https://schema.org/ListItem">
                    </li>
                {% endif %}
            {% endfor %}
        {% endif %}
    </ol>
</nav>