{% for successMessage in app.flashes('success') %}
    <div class="alert alert-success my-2" role="alert">
        {{ successMessage|raw }}
    </div>
{% endfor %}
{% for warningMessage in app.flashes('warning') %}
    <div class="alert alert-warning my-2" role="alert">
        {{ warningMessage|raw }}
    </div>
{% endfor %}
{% for errorMessage in app.flashes('error') %}
    <div class="alert alert-danger my-2" role="alert">
        {{ errorMessage|raw }}
    </div>
{% endfor %}