<button class="nav-link py-2 px-0 px-lg-2 d-flex align-items-center theme-icon-active" id="bd-theme" type="button" aria-expanded="false" data-bs-toggle="dropdown" data-bs-display="static" aria-label="Toggle theme (auto)">
    <i class="bi bi-circle-half"></i>
    <span class="d-lg-none ms-2" id="bd-theme-text"></span>
</button>
<ul class="dropdown-menu dropdown-menu-end" aria-labelledby="bd-theme-text">
    <li>
        <button type="button" class="dropdown-item d-flex align-items-center" data-bs-theme-value="light" aria-pressed="false">
            <i class="bi bi-sun me-2"></i>
            Clair
            <i class="bi bi-check2 ms-auto"></i>
        </button>
    </li>
    <li>
        <button type="button" class="dropdown-item d-flex align-items-center" data-bs-theme-value="dark" aria-pressed="false">
            <i class="bi bi-moon-stars me-2"></i>
            Sombre
            <i class="bi bi-check2 ms-auto"></i>
        </button>
    </li>
    <li>
        <button type="button" class="dropdown-item d-flex align-items-center active" data-bs-theme-value="auto" aria-pressed="true">
            <i class="bi bi-circle-half me-2"></i>
            Auto
            <i class="bi bi-check2 ms-auto"></i>
        </button>
    </li>
</ul>