<small class="d-inline-flex px-2 py-1 text-{{ color }}-emphasis bg-{{ color }}-subtle border border-{{ color }}-subtle rounded-2">{% if icon is defined %}<i class="bi bi-{{ icon }} fw-bold me-1"></i>{% endif %} {{ label }}</small>
{% if message is defined %}
    <span class="text-{{ color }}-emphasis">{{ message|raw }}</span>
{% endif %}