{% trans_default_domain 'admin' %}

<!DOCTYPE html>
<html lang="fr" data-bs-theme="dark">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}{% endblock %}</title>

        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="robots" content="noindex">

        {% block meta_header %}{% endblock %}

        {% block extra_header %}{% endblock %}

        {% block stylesheets %}{% endblock %}

        {% block javascripts %}{% endblock %}
    </head>
    <body {{ stimulus_controller('swup')|stimulus_controller('symfony/ux-swup/swup', {
        containers: ['#admin-content', '#admin-nav'],
        history: true,
    }) }}>
        {% block header %}{% include '@OrienteeringManager/utilities/header.html.twig' %}{% endblock %}

        <div class="bg-topography container-fluid">
            <div class="row">
                <nav class="col-2 d-none d-lg-block py-2 sidebar border-end bg-theme" id="admin-nav">
                    <div class="sidebar-sticky">
                        {% include '@OrienteeringManager/admin/utilities/main_menu.html.twig' %}
                    </div>
                </nav>

                <div class="col-12 col-lg-10 py-2 py-md-4" id="admin-content">
                    {% include '@OrienteeringManager/utilities/breadcrumb.html.twig' %}

                    {% block admin_title %}{% endblock %}

                    {% include '@OrienteeringManager/utilities/messages.html.twig' %}

                    {% block admin_content %}{% endblock %}
                </div>
            </div>
        </div>

        {% block footer %}{% include '@OrienteeringManager/utilities/footer.html.twig' %}{% endblock %}
    </body>
</html>
