{% extends '@OrienteeringManager/admin/base_admin.html.twig' %}

{% trans_default_domain 'admin' %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('editor') }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('editor') }}
{% endblock %}

{% block admin_content %}
    <h1>{{ 'admin.dashboard.title'|trans }}</h1>

    <div class="toolbar">
        <button data-command="bold">Bold</button>
        <button data-command="italic">Italic</button>
        <button data-command="underline">Underline</button>
        <select data-command="formatBlock">
            <option value="">Title</option>
            <option value="h1">H1</option>
            <option value="h2">H2</option>
            <option value="h3">H3</option>
            <option value="p">Paragraph</option>
        </select>
        <input type="color" data-command="foreColor" title="Text Color">
    </div>
    <div class="editor-quentin" contenteditable="true"></div>

    <div class="row d-none d-lg-block my-0 my-lg-4">
        <div class="col-12 col-md-4">
            <div class="card border-primary mb-3">
                <div class="card-header text-primary d-flex align-items-center justify-content-between">
                    {{ 'admin.dashboard.administrators'|trans }}
                    <a class="btn btn-outline-info" href="{{ path('app_admin_user_list') }}">
                        <i class="bi bi-pen"></i>
                    </a>
                </div>
                <ul class="list-group list-group-flush">
                    {% for administrator in administrators %}
                        <li class="list-group-item">{{ administrator.email }}</li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>

    <div class="my-4 d-lg-none">
        <div class="col-12 ps-2">
            <span class="text-muted">{{ 'admin.nav.content'|trans }}</span>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="row border-bottom p-2">
                    <div class="col-10">
                        <span class="fs-5">{{ 'admin.page.list.title'|trans }}</span>
                    </div>
                    <div class="col-2 d-flex">
                        <a class="btn btn-outline-info align-self-start" href="{{ path('app_admin_page_list') }}">
                            <i class="bi bi-gear"></i>
                        </a>
                    </div>
                </div>
                <div class="row border-bottom p-2">
                    <div class="col-10">
                        <span class="fs-5">{{ 'admin.article.list.title'|trans }}</span>
                    </div>
                    <div class="col-2 d-flex">
                        <a class="btn btn-outline-info align-self-start" href="{{ path('app_admin_article_list') }}">
                            <i class="bi bi-gear"></i>
                        </a>
                    </div>
                </div>
                <div class="row border-bottom p-2">
                    <div class="col-10">
                        <span class="fs-5">{{ 'admin.event.list.title'|trans }}</span>
                    </div>
                    <div class="col-2 d-flex">
                        <a class="btn btn-outline-info align-self-start" href="{{ path('app_admin_event_list') }}">
                            <i class="bi bi-gear"></i>
                        </a>
                    </div>
                </div>
                <div class="row border-bottom p-2">
                    <div class="col-10">
                        <span class="fs-5">{{ 'admin.map.list.title'|trans }}</span>
                    </div>
                    <div class="col-2 d-flex">
                        <a class="btn btn-outline-info align-self-start" href="{{ path('app_admin_map_list') }}">
                            <i class="bi bi-gear"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="my-4 d-lg-none">
        <div class="col-12 ps-2">
            <span class="text-muted">{{ 'admin.nav.user'|trans }}</span>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="row border-bottom p-2">
                    <div class="col-10">
                        <span class="fs-5">{{ 'admin.user.list.title'|trans }}</span>
                    </div>
                    <div class="col-2 d-flex">
                        <a class="btn btn-outline-info align-self-start" href="{{ path('app_admin_user_list') }}">
                            <i class="bi bi-gear"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}