{% extends '@OrienteeringManager/admin/base_admin.html.twig' %}

{% trans_default_domain 'admin' %}

{% block admin_title %}
    <h1>{% block form_title %}{% endblock %}</h1>
{% endblock %}

{% block admin_content %}
    {{ form_start(form, {'attr': {novalidate: true, class: 'needs-validation'}}) }}
        {% block form_errors %}
            {{ form_errors(form) }}
        {% endblock %}

        {% if not form.vars.valid %}
            <div class="alert alert-danger">
                {% block form_messages %}{{ 'admin.form.error'|trans }}{% endblock %}
            </div>
        {% endif %}

        {% block form_content %}{% endblock %}

        <div class="my-4">
            {% block form_submit %}{% endblock %}
        </div>
    {{ form_end(form) }}
{% endblock %}