{% extends '@OrienteeringManager/admin/base_admin.html.twig' %}

{% trans_default_domain 'admin' %}

{% block admin_title %}
    <div class="d-flex flex-column flex-md-row justify-content-between mb-4 mb-md-0">
        <h1>{% block list_title %}{% endblock %}</h1>
        {% block list_actions %}{% endblock %}
    </div>
    {% block list_subtitle %}{% endblock %}
{% endblock %}

{% block admin_content %}
    {% block filter_form %}{% endblock %}

    <div class="row mb-3">
        {% for entity in entities %}
            {% block list_item %}
                <div class="d-flex justify-content-between my-2 py-2 border-bottom position-relative" id="entity-{{ entity.id }}">
                    <div class="pe-4 d-flex flex-column flex-lg-row">
                        {% block list_item_title %}{% endblock %}
                    </div>
                    <div class="d-flex align-self-start flex-row-reverse" data-controller="confirmation">
                        {% block list_item_action %}{% endblock %}
                    </div>
                </div>
            {% endblock %}
        {% else %}
            <div class="d-flex justify-content-between my-2 py-2 border-bottom position-relative">
                {% block list_item_no_results %}{% endblock %}
            </div>
        {% endfor %}
    </div>

    {% if maxPages is defined and 1 < maxPages %}
        <nav>
            <ul class="pagination pagination-lg">
                {% for num in 1..maxPages %}
                    {% block list_pagination_page %}{% endblock %}
                {% endfor %}
            </ul>
        </nav>
    {% endif %}

    {% block list_legend %}{% endblock %}
{% endblock %}