<div {{ attributes }} class="z-3">
    {% set id = random(50000) %}
    <input type="checkbox" class="d-none form-check-input" data-model="displayText" id="checkbox-{{ id }}">
    <label class="position-absolute end-0 m-2 badge rounded-pill z-3 bg-{{ color }} form-check-label" data-bs-toggle="tooltip" data-bs-placement="bottom" title="{{ tooltip }}" for="checkbox-{{ id }}">
        {% if displayText %}{{ text }}{% endif %}<i class="{% if displayText %}ms-1{% endif%} bi bi-{{ icon }}"></i>
    </label>
</div>