{% extends '@OrienteeringManager/admin/base_admin.html.twig' %}

{% trans_default_domain 'admin' %}

{% block stylesheets %}
    {{ parent() }}

    {{ encore_entry_link_tags('live') }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    {{ encore_entry_script_tags('live') }}
{% endblock %}

{% block admin_content %}
    <h1>{{ 'admin.live.configuration.title'|trans }}</h1>
    <h2 class="text-primary">{{ event.name }}</h2>

    <div class="alert alert-warning" role="alert">
        <span class="d-block fw-bold">Informations importantes à lire avant de commencer</span>
        <span class="d-block">Quand la synchronisation est démarré, cet onglet ne doit pas être fermé, ni actualisé.</span>
    </div>

    <div class="d-none">
        <input type="hidden" id="url" value="{{ path('app_admin_live_configuration', {id: event.id}) }}">
    </div>

    <div class="my-5">
        <button id="start" type="button" class="btn btn-success">{{ 'admin.live.configuration.action.start'|trans }}</button>
        <button id="stop" type="button" class="btn btn-danger d-none">{{ 'admin.live.configuration.action.stop'|trans }}</button>
    </div>
{% endblock %}