{% extends '@OrienteeringManager/base_content.html.twig' %}

{% block title %}{{ page.title }}{% endblock %}

{% block meta_header %}
    {% if page.data.seo is defined %}
        {% include '@OrienteeringManager/utilities/meta_seo.html.twig' with {'seo': page.data.seo} only %}
    {% endif %}
{% endblock %}

{% block breadcrumb %}
    {{ _self.breadcrumb(page.breadcrumb) }}
{% endblock %}

{% block content_title %}
    {{ _self.title(page.title, page.icon, path('app_admin_page_edit', {id: page.id}), 'ROLE_ADMIN') }}
{% endblock content_title %}

{% block content_body %}
    {% if page.data.content is not empty %}
        <div class="lead">
            {{ page.data.content|raw }}
        </div>
    {% endif %}

    {% if page.data.persons is not empty %}
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 g-4 card-group">
            {% for contact in page.data.persons %}
                <div class="col">
                    <div class="card">
                        <div class="card-body">
                            <div class="text-center mb-2">
                                <span class="h4 card-title">{{ contact.firstName }} {{ contact.lastName }}</span>
                                {% if contact.role is not empty %}
                                    <div class="d-block my-2 px-2 py-1 text-primary-emphasis bg-primary-subtle border border-primary-subtle rounded-2">
                                        {{ contact.role }}
                                    </div>
                                {% endif %}
                            </div>

                            {% if contact.email is not empty %}
                                <div class="my-1">
                                    <i class="bi bi-envelope-at me-2 text-primary"></i> {{ contact.email }}
                                </div>
                            {% endif %}
                            {% if contact.phone is not empty %}
                                <div class="my-1">
                                    <i class="bi bi-phone me-2 text-primary"></i> {{ contact.phone }}
                                </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    {% endif %}
{% endblock %}