{% extends '@OrienteeringManager/base_content.html.twig' %}

{% block title %}{{ page.title }}{% endblock %}

{% block meta_header %}
    {% if page.data.seo is defined %}
        {% include '@OrienteeringManager/utilities/meta_seo.html.twig' with {'seo': page.data.seo} only %}
    {% endif %}
{% endblock %}

{% block breadcrumb %}
    {{ _self.breadcrumb(page.breadcrumb) }}
{% endblock %}

{% block content_title %}
    {{ _self.title(page.title, page.icon, path('app_admin_page_edit', {id: page.id}), 'ROLE_ADMIN') }}
{% endblock content_title %}

{% block content_body %}
    {% if page.data.content is not empty %}
        <div class="lead">
            {{ page.data.content|raw }}
        </div>
    {% endif %}
{% endblock %}