{% trans_default_domain 'admin' %}

{{ form_row(form.data.content) }}

<h4 class="mt-3">{{ 'admin.page.type.contact.section.persons'|trans }}</h4>
<div class="mb-3" {{ stimulus_controller('form-collection') }}
     data-form-collection-index-value="{{ form.data.persons|length > 0 ? form.data.persons|last.vars.name + 1 : 0 }}"
     data-form-collection-prototype-value="{{ form_widget(form.data.persons.vars.prototype)|e('html_attr') }}"
>
    <ul class="list-unstyled" {{ stimulus_target('form-collection', 'collectionContainer') }}>
        {% for children in form.data.persons.children %}
            <li class="d-flex mb-2">
                {{ form_widget(children) }}
                <button class="btn btn-outline-danger ms-2 align-self-start" {{ stimulus_action('form-collection', 'removeCollectionElement') }}>
                    <i class="bi bi-trash"></i>
                </button>
            </li>
        {% endfor %}
    </ul>
    <button class="btn btn-outline-secondary" type="button" {{ stimulus_action('form-collection', 'addCollectionElement') }}>{{ 'admin.page.type.contact.persons.action.add'|trans }}</button>
</div>