{% trans_default_domain 'admin' %}

{{ form_row(form.data.title) }}
{{ form_row(form.data.content) }}
{{ form_row(form.data.titleVikazimut) }}
{{ form_row(form.data.descriptionVikazimut) }}
{{ form_row(form.data.linkUrlVikazimut) }}
{{ form_row(form.data.linkLabelVikazimut) }}