<div class="editor">
    <div class="d-flex justify-content-start editor-toolbar my-2">
        <div class="btn-group" role="group" aria-label="Basic example">
            <label class="bg-secondary border-secondary input-group-text text-white">Style</label>
            <span class="editor-action btn btn-outline-secondary" data-editor-type="style" data-editor-value="fw-bold"><i class="bi bi-type-bold"></i></span>
            <span class="editor-action btn btn-outline-secondary" data-editor-type="style" data-editor-value="text-decoration-underline"><i class="bi bi-type-underline"></i></span>
            <span class="editor-action btn btn-outline-secondary" data-editor-type="style" data-editor-value="fst-italic"><i class="bi bi-type-italic"></i></span>
        </div>

        <div class="btn-group ms-2" role="group">
            <button type="button" class="btn btn-secondary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                Couleur
            </button>
            <ul class="dropdown-menu">
                <li><span data-editor-type="color" data-editor-value="" class="editor-action dropdown-item">Defaut</span></li>
                <li><span data-editor-type="color" data-editor-value="text-primary" class="editor-action text-primary dropdown-item">Principale</span></li>
                <li><span data-editor-type="color" data-editor-value="text-secondary" class="editor-action text-secondary dropdown-item">Secondaire</span></li>
                <li><span data-editor-type="color" data-editor-value="text-info" class="editor-action text-info dropdown-item">Information</span></li>
                <li><span data-editor-type="color" data-editor-value="text-success" class="editor-action text-success dropdown-item">Succès</span></li>
                <li><span data-editor-type="color" data-editor-value="text-warning" class="editor-action text-warning dropdown-item">Attention</span></li>
                <li><span data-editor-type="color" data-editor-value="text-danger" class="editor-action text-danger dropdown-item">Danger</span></li>
            </ul>
        </div>
    </div>

    <div class="editor-content form-control" contenteditable>
    </div>
</div>