{% trans_default_domain 'admin' %}

<div class="mb-3">
    {{ form_label(input) }}

    <div class="row">
        <div class="col-12 col-md-8">
            {{ form_widget(input) }}
            {{ form_help(input) }}

            {% if image is not empty %}
                <div class="my-2">
                    {{ form_label(checkboxDelete) }}

                    <div class="form-switch form-switch-danger">
                        {{ form_widget(checkboxDelete) }}
                    </div>

                    {{ form_help(checkboxDelete) }}
                </div>
            {% endif %}
        </div>

        <div class="col-12 col-md-4">
            {% if image is not empty %}
                <img class="img img-thumbnail" src="{{ image }}" alt="Preview">
            {% else %}
                {{ 'admin.form.image.not_defined'|trans }}
            {% endif %}
        </div>
    </div>

    {% if not input.vars.valid %}
        {% for error in input.vars.errors %}
            <div class="">
                <span class="badge bg-danger">Erreur</span>
                {{ error.message }}
            </div>
        {% endfor %}
    {% endif %}
</div>