<div class="mb-3">
    {{ form_label(input) }}

    {{ form_widget(input) }}
    {{ form_help(input) }}

    {% if not input.vars.valid %}
        {% for error in input.vars.errors %}
            <div class="">
                <span class="badge bg-danger">Erreur</span>
                {{ error.message }}
            </div>
        {% endfor %}
    {% endif %}
</div>