{% trans_default_domain 'admin' %}

<label class="form-label text-primary" for="map">{{ 'admin.event.field.location.latLng'|trans }}</label>
<div class="row">
    <div class="col-12 col-md-6">
        {{ ux_map(map, {'style': 'height: 350px;', 'class': 'input-map', 'data-controller': 'map'}) }}
    </div>

    <div class="col-12 col-md-6">
        <div class="form-text text-muted help-text mb-3">
            {{ 'admin.common.help.location'|trans }}
        </div>

        {% include '@OrienteeringManager/admin/utilities/form/_input.html.twig' with {input: latitude} %}
        {% include '@OrienteeringManager/admin/utilities/form/_input.html.twig' with {input: longitude} %}
    </div>
</div>