<div class="mb-3">
    {{ form_label(input) }}

    <div class="input-group">
        {{ form_widget(input, {'money_pattern': '{{ widget }}' }) }}
        <span class="input-group-text">€</span>
    </div>

    <div class="d-none">
        {{ form_rest(input) }}
    </div>
</div>