<!DOCTYPE html>
<html lang="fr" data-bs-theme="dark">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>

    <meta name="viewport" content="width=device-width, initial-scale=1">

    {% block meta_header %}
        {% if page is defined and page is not empty %}
            {% if page.sitemapUrl is not defined or page.sitemapUrl is empty %}
                <meta name="robots" content="noindex" />
            {% endif %}
        {% endif %}
    {% endblock %}

    {% block extra_header %}{% endblock %}

    {% block stylesheets %}
    {% endblock %}

    {% block javascripts %}
    {% endblock %}
</head>
    <body {{ stimulus_controller('swup')|stimulus_controller('symfony/ux-swup/swup', {
        containers: ['#content'],
        history: true,
    }) }}>
        {% block header %}{% include '@OrienteeringManager/utilities/header.html.twig' %}{% endblock %}

        <div class="bg-topography" id="content">
            {% block body %}{% endblock %}
        </div>

        {% block footer %}{% include '@OrienteeringManager/utilities/footer.html.twig' %}{% endblock %}
    </body>
</html>
