{% extends '@OrienteeringManager/base.html.twig' %}

{% macro breadcrumb(breadcrumb) %}
    {% include '@OrienteeringManager/utilities/breadcrumb.html.twig' with {breadcrumb: breadcrumb} only %}
{% endmacro breadcrumb %}

{% macro title(title, icon, admin_url, security_role, color = 'primary') %}
    <h1>{% if icon is not empty %}<i class="me-2 text-{{ color}} bi bi-{{ icon }}"></i>{% endif %}{{ title|raw }}</h1>

    {% if security_role is not empty and is_granted(security_role) and admin_url is not empty %}
        <a class="d-inline btn btn-outline-primary align-self-center" href="{{ admin_url }}"><i class="bi bi-pen me-0 me-md-2"></i><span class="d-none d-md-inline-block">Modifier</span></a>
    {% endif %}
{% endmacro title %}

{% macro updated_at(date) %}
    <div class="fst-italic">Dernière modification le {{ date|date('d/m/Y \à H:i') }}</div>
{% endmacro updated_at %}

{% block body %}
    <div class="py-2 py-md-4">
        <div class="container-fluid container-lg" data-swup-scroll-container="true">
            {% block breadcrumb %}
            {% endblock %}

            <div class="d-flex justify-content-between flex-row">
                {% block content_title %}
                {% endblock %}
            </div>

            {% block content_updated_at %}{% endblock %}
        </div>

        {% block content_banner %}{% endblock %}

        <div class="container-fluid container-lg" data-swup-scroll-container="true">
            <div class="my-2">
                {% block content_body %}
                {% endblock %}
            </div>
        </div>
    </div>
{% endblock body %}