{% extends '@OrienteeringManager/base.html.twig' %}

{% block body %}
    <div id="swup">
        {% if data is defined and data is not empty %}
            <div class="d-flex flex-column justify-content-center bg-image-header text-center">
                {% if data.mainImage is defined and data.mainImage is not empty %}
                    <img src="{{ asset(data.mainImage) }}" alt="Image">
                {% endif %}

                {% if data.headTexts is defined and data.headTexts is not empty %}
                    <div class="my-5">
                        <span class="h3" {{ stimulus_controller('symfony/ux-typed', {
                            strings: data.headTexts,
                            showCursor: true,
                            cursorChar: '<i class="text-primary bi bi-circle-fill ms-2"></i>',
                            loop: true,
                            startDelay: 500,
                            backSpeed: 50,
                        }) }}></span>
                    </div>
                {% endif %}
            </div>

            {% if data.informationBlocks is not empty %}
                <div class="container-fluid container-lg py-4">
                    <div class="d-flex flex-column flex-md-row justify-content-between text-center">
                        {% for informationBlock in data.informationBlocks %}
                            <div class="position-relative flex-even mx-4 mb-5">
                                <img class="bd-placeholder-img rounded-circle" width="140" height="140" src="{{ asset(informationBlock.image ?? 'carte.webp') }}" alt="Image">
                                <span class="d-block h5 mt-4 ">{{ informationBlock.title }}</span>
                                <p>{{ informationBlock.description }}</p>
                                {% if informationBlock.linkUrl is not empty %}
                                    <a class="stretched-link" href="{{ informationBlock.linkUrl }}">{{ informationBlock.linkLabel }} <i class="bi bi-arrow-right ms-2"></i></a>
                                {% endif %}
                            </div>
                        {% endfor %}
                    </div>
                </div>
            {% endif %}
        {% endif %}

        {% if articles is defined and articles is not empty %}
            <div class="container-fluid container-lg py-4">
                <div class="row align-items-center my-4">
                    <div class="col"><hr class="border-primary"></div>
                    <div class="col-auto text-center h2">
                        <i class="text-primary bi bi-newspaper d-block"></i>
                        {% if data is defined and data is not empty and data.articlesTitle is not empty %}
                            {{ data.articlesTitle }}
                        {% else %}
                            {{ 'homepage.article.title'|trans }}
                        {% endif %}
                    </div>
                    <div class="col"><hr class="border-primary"></div>
                </div>

                <div class="d-flex flex-column flex-md-row justify-content-between">
                    {% for article in articles %}
                        <div class="flex-even card bg-transparent border-0 mx-2 mb-4">
                            <div class="h3"><i class="text-primary bi bi-{{ article.type}} me-2"></i> {{ article.title }}</div>
                            <div class="mb-2">{{ article.content|striptags|slice(0, 100)|raw }}</div>
                            <div class="d-flex">
                                <span class="text-muted me-4"><i class="bi bi-calendar-date me-1"></i> {{ article.updatedAt|date('d/m/Y') }}</span>
                            </div>
                            <div class="my-2">
                                <a href="{{ path('app_article', {'slug': article.slug}) }}" class="my-5 stretched-link">Lire l'article <i class="bi bi-arrow-right ms-2"></i></a>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        {% endif %}

        {% if events is defined and events is not empty %}
            <div class="container-fluid container-lg py-4">
                <div class="row align-items-center my-4">
                    <div class="col"><hr class="border-primary"></div>
                    <div class="col-auto text-center h2">
                        <i class="text-primary bi bi-calendar2-range d-block"></i>
                        {% if data is defined and data is not empty and data.eventsTitle is not empty %}
                            {{ data.eventsTitle }}
                        {% endif %}
                    </div>
                    <div class="col"><hr class="border-primary"></div>
                </div>

                <div class="d-flex flex-column flex-md-row justify-content-between">
                    {% for event in events|slice(0, 2) %}
                        {% include '@OrienteeringManager/content/event/item.html.twig' with {page: pageEvents} %}
                    {% endfor %}
                    <div class="flex-even card border-0 mx-2 mb-4 align-self-center order-0 order-md-2">
                        <a class="btn btn-outline-primary" href="{{ path('app_page', {slug: pageEvents.slug}) }}">Voir tous les événements <i class="bi bi-arrow-right ms-2"></i></a>
                    </div>
                </div>
            </div>
        {% endif %}
    </div>
{% endblock %}