{% macro date_single(date, color, display_hour, display_year) %}
    <span class="text-{{ color}} fw-bold">
        {{ date|format_date(pattern='dd') }}
    </span>

    <span>
        {{ date|format_date(pattern='MMMM')|capitalize }}
    </span>

    {% if display_year %}
        <span class="text-{{ color}}">
            {{ date|format_date(pattern='Y') }}
        </span>
    {% endif %}

    {% if display_hour %}
        à

        <span class="text-{{ color}}">
            {{ date|format_date(pattern='HH:mm') }}
        </span>
    {% endif %}
{% endmacro %}

{% macro date_period_year(date_start, date_end, color, display_hour, display_year) %}
    <span class="text-{{ color}} fw-bold">
        {{ date_start|format_date(pattern='dd') }}
    </span>

    <span>
        {{ date_start|format_date(pattern='MMMM')|capitalize }}
    </span>


    {% if display_year %}
        <span class="text-{{ color}}">
            {{ date_start|format_date(pattern='Y') }}
        </span>
    {% endif %}

    {% if display_hour %}
        à

        <span class="text-{{ color}}">
            {{ date_start|format_date(pattern='HH:mm') }}
        </span>
    {% endif %}

    au

    <span class="text-{{ color}} fw-bold">
        {{ date_end|format_date(pattern='dd') }}
    </span>

    <span>
        {{ date_end|format_date(pattern='MMMM')|capitalize }}
    </span>

    <span class="text-{{ color}}">
        {{ date_end|format_date(pattern='Y') }}
    </span>

    {% if display_hour %}
        à

        <span class="text-{{ color}}">
            {{ date_end|format_date(pattern='HH:mm') }}
        </span>
    {% endif %}
{% endmacro %}

{% macro date_period_month(date_start, date_end, color, display_hour, display_year) %}
    <span class="text-{{ color}} fw-bold">
        {{ date_start|format_date(pattern='dd') }}
    </span>

    <span>
        {{ date_start|format_date(pattern='MMMM')|capitalize }}
    </span>

    {% if display_hour %}
        à

        <span class="text-{{ color}}">
            {{ date_start|format_date(pattern='HH:mm') }}
        </span>
    {% endif %}

    au

    <span class="text-{{ color}} fw-bold">
        {{ date_end|format_date(pattern='dd') }}
    </span>

    <span>
        {{ date_end|format_date(pattern='MMMM')|capitalize }}
    </span>

    {% if display_year %}
        <span class="text-{{ color}}">
            {{ date_end|format_date(pattern='Y') }}
        </span>
    {% endif %}

    {% if display_hour %}
        à

        <span class="text-{{ color}}">
            {{ date_end|format_date(pattern='HH:mm') }}
        </span>
    {% endif %}
{% endmacro %}

{% macro date_period_day(date_start, date_end, color, display_hour, display_year) %}
    <span class="text-{{ color}} fw-bold">
        {{ date_start|format_date(pattern='dd') }}
    </span>

    {% if display_hour %}
        <span>
            {{ date_start|format_date(pattern='MMMM') }}
        </span>

        à

        <span class="text-{{ color}}">
            {{ date_start|format_date(pattern='HH:mm') }}
        </span>
    {% endif %}

    au

    <span class="text-{{ color}} fw-bold">
        {{ date_end|format_date(pattern='dd') }}
    </span>

    <span>
        {{ date_end|format_date(pattern='MMMM') }}
    </span>

    {% if display_year %}
        <span class="text-{{ color}}">
            {{ date_end|format_date(pattern='Y') }}
        </span>
    {% endif %}

    {% if display_hour %}
        à

        <span class="text-{{ color}}">
            {{ date_end|format_date(pattern='HH:mm') }}
        </span>
    {% endif %}
{% endmacro %}

{% macro date_period_hour(date_start, date_end, color, display_hour, display_year) %}
    <span class="text-{{ color}} fw-bold">
        {{ date_start|format_date(pattern='dd') }}
    </span>

    <span>
        {{ date_start|format_date(pattern='MMMM')|capitalize }}
    </span>

    {% if display_year %}
        <span class="text-{{ color}}">
            {{ date_start|format_date(pattern='Y') }}
        </span>
    {% endif %}

    {% if display_hour %}
        de

        <span class="text-{{ color}}">
            {{ date_start|format_date(pattern='HH:mm') }}
        </span>

        à

        <span class="text-{{ color}}">
            {{ date_end|format_date(pattern='HH:mm') }}
        </span>
    {% endif %}
{% endmacro %}

<div>
    {% if date_end is empty %}
        {{ _self.date_single(date_start, color, display_hour, display_year) }}
    {% elseif date_start|format_date(pattern='Y') != date_end|format_date(pattern='Y') %}
        {{ _self.date_period_year(date_start, date_end, color, display_hour, display_year) }}
    {% elseif date_start|format_date(pattern='M') != date_end|format_date(pattern='M') %}
        {{ _self.date_period_month(date_start, date_end, color, display_hour, display_year) }}
    {% elseif date_start|format_date(pattern='d') != date_end|format_date(pattern='d') %}
        {{ _self.date_period_day(date_start, date_end, color, display_hour, display_year) }}
    {% else %}
        {{ _self.date_period_hour(date_start, date_end, color, display_hour, display_year) }}
    {% endif %}
</div>
