<dialog class="border-danger" data-dialog-target="dialog">
    <p>{{ answer|raw }}</p>

    <div class="d-flex justify-content-end">
        <button type="button" class="btn" data-action="dialog#close" autofocus>{{ cancelLabel }}</button>
        <button type="button" class="btn btn-danger" data-action="{{ confirmAction }}" {% if confirmLiveParam is defined %}data-live-action-param="{{ confirmLiveParam }}"{% endif %}>{{ confirmLabel }}</button>
    </div>
</dialog>