<div class="card">  
    <div class="card-body d-flex">
        <div class="flex-fill align-self-center">
            <div class="fw-bold h5">
                {{ file.name|capitalize }}
            </div>
        </div>

        {% if file.filePath is not empty %}
            <a class="align-middle btn btn-{{ color }} stretched-link" href="{{ contentMediaUrl(file.filePath, site) }}" target="_blank">
                <i class="bi bi-download"></i>
            </a>
        {% endif %}
    </div>
</div>