<div {{ attributes }}>
    {% if not deleted %}

        {% set color = {
            'created': 'info',
            'updated': 'warning',
            'deleted': 'danger',
            'validated': 'success'
        } %}

        <div class="row border-bottom py-2" id="entity-{{ item.id }}">
            <div class="col-9">
                <div class="d-flex lead">
                    {% if item.track is empty %}
                        {% if event.registrationNeedValidation %}
                            <span class="text-{{ color[item.status.value] ?? 'primary' }} typed-cursor me-2" aria-hidden="true"><i class="bi bi-circle-fill"></i></span>
                        {% endif %}
                        <span>{{ item.lastName ~ ' ' ~ item.firstName }}</span>
                    {% else %}
                        {% if event.registrationNeedValidation %}
                            <span class="text-{{ color[item.status.value] ?? 'primary' }} typed-cursor me-2" aria-hidden="true"><i class="bi bi-circle-fill"></i></span>
                        {% endif %}
                        <span class="me-auto">{{ item.lastName ~ ' ' ~ item.firstName }}</span>
                        <span>{{ item.track.name }}</span>
                    {% endif %}
                </div>
                {% if item.comment is not empty %}
                    <span class="text-muted">
                        {{ item.comment }}
                    </span>
                {% endif %}
            </div>
            <div class="col-3 text-center">
                {% if is_granted('REGISTER', event) and is_granted('EDIT', item) %}
                    <a rel="nofollow" class="btn btn-outline-primary" href="{{ path('app_event_registration_edit', {page: page.slug, event: event.id, slug: event.slug, id: item.id}) }}">
                        <i class="bi bi-pen"></i>
                    </a>
                    <div class="d-inline-block" data-controller="dialog" data-action="click->dialog#backdropClose">
                        {% include '@OrienteeringManager/include/common/dialog.html.twig' with {
                            answer: '<p>Êtes vous sûr de vouloir désinscrire <strong class="text-danger">%s</strong> ?</p>'|format(item),
                            cancelLabel: 'Annuler',
                            confirmLabel: 'Confirmer',
                            confirmAction: 'live#action',
                            confirmLiveParam: 'removeItem',
                        } only %}

                        <button type="submit" class="btn btn-outline-danger" data-action="dialog#open">
                            <i class="bi bi-trash"></i>
                        </button>
                    </div>
                {% else %}
                    <i class="bi bi-lock-fill text-warning"></i>
                {% endif %}
            </div>
        </div>
    {% endif %}
</div>