{% extends '@OrienteeringManager/base.html.twig' %}

{% block meta_header %}
    <meta name="robots" content="noindex" />
{% endblock %}

{% block body %}
    <div class="container-fluid container-lg py-4">
        <div class="row mb-2">
            {% include '@OrienteeringManager/utilities/breadcrumb.html.twig' with {breadcrumb: page.breadcrumb} %}
        </div>

        <div class="row mb-4">
            <div class="col-12">
                <div class="mb-2">
                    <span class="display-6 text-primary fw-bold">
                        {{ event.date|date('d') }}
                    </span>

                    <span class="display-6">
                        {{ event.date|format_datetime(pattern='MMMM', locale='fr')|capitalize }}
                    </span>

                    <span class="display-6 text-primary">
                        {{ event.date|date('Y') }}
                    </span>
                </div>

                <div class="d-flex justify-content-between flex-column flex-md-row">
                    <h1 class="mb-3"><i class="text-primary bi bi-person-add me-2"> Confirmation d'inscription à </i> {{ event.name }}</h1>
                    <a class="d-inline btn btn-outline-primary align-self-md-center" href="{{ path('app_content_view', {page: page.slug, id: event.id, slug: event.slug}) }}"><i class="bi bi-calendar2-event"></i> Retourner sur l'événement</a>
                </div>
            </div>
        </div>

        <div class="row mb-4">
            <div class="col-12">
                <table class="table">
                    <thead>
                    <tr>
                        <th>#</th>
                        <th>Statut</th>
                        <th>Nom</th>
                        <th>Prénom</th>
                        <th>Circuit</th>
                        <th>Commentaire</th>
                    </tr>
                    </thead>
                    <tbody>
                        {% for status in registrations %}
                            {% set statusColor = status.error is defined ? 'danger' : 'success' %}
                            {% set statusIcon = status.error is defined ? 'bi-exclamation-circle-fill' : 'bi-check-circle-fill' %}
                            <tr>
                                <td>{{ loop.index }}</td>
                                <td>
                                    <i class="bi {{ statusIcon}} text-{{ statusColor }}"></i>
                                </td>
                                <td>{{ status.object.lastName }}</td>
                                <td>{{ status.object.firstName }}</td>
                                <td>{% if status.object.track is not empty %} {{ status.object.track.name }} {% endif %}</td>
                                <td>{{ status.object.comment }}</td>
                            </tr>
                            <tr class="table-{{ statusColor }} text-{{ statusColor }}">
                                <td></td>
                                <td colspan="5">{{ status.error is defined ? status.error.message : 'Inscription enregistrée' }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>

        <div class="row mb-4">
            <div class="col-12">
                <a class="btn btn-primary" href="{{ path('app_content_view', {page: page.slug, id: event.id, slug: event.slug}) }}">Retourner sur l'événement</a>
            </div>
        </div>
    </div>
{% endblock %}

