{% extends '@OrienteeringManager/base.html.twig' %}

{% block meta_header %}
    <meta name="robots" content="noindex" />
{% endblock %}

{% block body %}
    <div class="container-fluid container-lg py-4">
        <div class="row mb-2">
            {% include '@OrienteeringManager/utilities/breadcrumb.html.twig' with {breadcrumb: page.breadcrumb} %}
        </div>

        <div class="row mb-4">
            <div class="col-12">
                <div class="mb-2">
                    <span class="display-6 text-primary fw-bold">
                        {{ event.date|date('d') }}
                    </span>

                    <span class="display-6">
                        {{ event.date|format_datetime(pattern='MMMM', locale='fr')|capitalize }}
                    </span>

                    <span class="display-6 text-primary">
                        {{ event.date|date('Y') }}
                    </span>
                </div>

                <div class="d-flex justify-content-between flex-column flex-md-row">
                    <h1 class="mb-3"><i class="text-primary bi bi-person-add me-2"> Modification d'inscription à </i> {{ event.name }}</h1>
                    <a class="d-inline btn btn-outline-primary align-self-md-center" href="{{ path('app_content_view', {page: page.slug, id: event.id, slug: event.slug}) }}"><i class="bi bi-calendar2-event"></i> Retourner sur l'événement</a>
                </div>
            </div>
        </div>

        <div class="row mb-4">
            <div class="col-12">
                {{ form_start(form) }}
                    <div class="row mb-3">
                        {% if form.federationMemberIri is defined %}
                            <div class="col-12">
                                {{ form_row(form.federationMemberIri) }}
                            </div>
                        {% else %}
                            <div class="col-12 col-md-6">
                                {{ form_row(form.firstName) }}
                            </div>

                            <div class="col-12 col-md-6">
                                {{ form_row(form.lastName) }}
                            </div>
                        {% endif %}
                    </div>

                    {{ form_row(form.cardNumber) }}

                    {% if form.trackIri is defined %}
                        {{ form_row(form.trackIri) }}
                    {% endif %}

                    {{ form_row(form.comment) }}

                    <div class="my-5">
                        <button type="submit" class="btn btn-primary" data-turbo="false">Enregistrer les inscriptions</button>
                        <a class="ms-4 text-info" href="{{ path('app_content_view', {page: page.slug, id: event.id, slug: event.slug}) }}">Retourner sur l'événement</a>
                    </div>
                {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock %}

