<div id="{{ field.vars.id }}" class="form-control mb-1 event-registrations-item">
    <div class="row mb-3">
        <div class="col-12 border-bottom mb-2">
            {{ form_row(field.children.federationMemberIri) }}
            {% if field.children.notFederationMember is defined %}
                <label class="form-label text-primary">Non Licencié FFCO</label>
                {{ form_row(field.children.notFederationMember) }}
            {% endif %}
        </div>

        <div class="col-12 col-md-4">
            {{ form_row(field.children.firstName) }}
        </div>

        <div class="col-12 col-md-4">
            {{ form_row(field.children.lastName) }}
        </div>

        <div class="col-12 col-md-4">
            {{ form_row(field.children.cardNumber) }}
        </div>
    </div>

    <div class="row">
        {% if field.children.trackIri is defined %}
            <div class="col-12 col-md-4">
                {{ form_row(field.children.trackIri) }}
            </div>

            <div class="col-12 col-md-8">
                {{ form_row(field.children.comment) }}
            </div>
        {% else %}
            <div class="col-12">
                {{ form_row(field.children.comment) }}
            </div>
        {% endif %}
    </div>

    <div class="d-grid d-lg-inline-block">
        <button class="mt-4 btn btn-outline-danger align-self-start" {{ stimulus_action('form-collection', 'removeCollectionElement') }}>
            <i class="bi bi-trash"></i> Supprimer cette inscription
        </button>
    </div>
</div>