{% extends '@OrienteeringManager/base_content.html.twig' %}

{% block title %}S'inscrire à {{ event.name }}{% endblock %}

{% block meta_header %}
    <meta name="description" content="Page d'inscription à l'événement {{ event.name }} organisé par {{ event.organizer }} le {{ event.date|format_datetime(pattern='d MMMM Y \à HH:mm', locale='fr') }} à {{ event.location.name }}" />
{% endblock %}

{% block breadcrumb %}
    {{ _self.breadcrumb(breadcrumb) }}
{% endblock %}

{% block content_title %}
    {{ _self.title('Inscription à ' ~ event.name, 'person-fill-add') }}
{% endblock content_title %}

{% block content_body %}
    <div class="row mb-4">
        <div class="col-12">
            <div class="d-flex align-items-center">
                <i class="bi bi-calendar-date text-primary me-2"></i>
                {% include '@OrienteeringManager/include/common/date.html.twig' with
                    {
                        date_start: event.date,
                        date_end: event.endDate,
                        color: 'body',
                        display_hour: true,
                        display_year: true,
                    }
                %}
            </div>

            <div class="mt-2 d-grid d-lg-inline-block">
                <a class="btn btn-outline-primary text-primary" href="{{ path('app_content_view', {page: page.slug, id: event.id, slug: event.slug}) }}">Retourner sur l'événement</a>
            </div>
        </div>
    </div>

    <div class="row mb-4">
        <div class="col-12">
            {{ form_start(form) }}
            <div class="mb-3" {{ stimulus_controller('form-collection') }}
                    data-form-collection-index-value="{{ form.items|length > 0 ? form.items|last.vars.name + 1 : 0 }}"
                    data-form-collection-prototype-value="{{ include('@OrienteeringManager/content/registration/form_prototype.html.twig', {field: form.items.vars.prototype})|e('html_attr') }}"
            >
                {{ form_label(form.items) }}
                <ul class="list-unstyled" {{ stimulus_target('form-collection', 'collectionContainer') }}>
                    {% for children in form.items.children %}
                        <li class="d-flex mb-2">
                            {% include '@OrienteeringManager/content/registration/form_prototype.html.twig' with {field: children} %}
                        </li>
                    {% endfor %}
                </ul>

                <div class="my-4 d-grid d-lg-inline-flex gap-4">
                    <button class="btn btn-outline-secondary order-1 order-lg-2" type="button" {{ stimulus_action('form-collection', 'addCollectionElement') }}>Ajouter une personne à inscrire</button>
                    <button type="submit" class="btn btn-primary order-2 order-lg-1" data-turbo="false">Enregistrer les inscriptions</button>
                </div>
            </div>

            <div class="d-none">
                {{ form_rest(form) }}
            </div>
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}

