{% trans_default_domain 'event' %}

<div class="my-2">
    {% if is_granted('REGISTER', item) %}
        <a class="my-2 my-md-0 d-block d-md-inline-block btn btn-lg btn-primary" href="{{ path('app_event_register', {page: page.slug, id: item.id, slug: item.slug}) }}">S'inscrire à l'événement</a>
    {% endif %}

    <div class="btn-group d-block d-md-inline-block" role="group">
        <a type="button" class="btn btn-secondary dropdown-toggle d-block d-md-inline-block" data-bs-toggle="dropdown" aria-expanded="false">
            Export des inscriptions
        </a>
        <ul class="dropdown-menu" aria-labelledby="btnGroupDrop1">
            <li><h6 class="dropdown-header">GEC</h6></li>
            <li><a class="dropdown-item" target="_blank" href="{{ path('app_event_registration_export', {id: item.id, format: 'oe2010'}) }}" rel="nofollow">OE 2010 (CSV)</a></li>
            <li class="dropdown-divider"></li>
            <li><h6 class="dropdown-header">Liste des inscrits</h6></li>
            <li><a class="dropdown-item" target="_blank" href="{{ path('app_event_registration_export', {id: item.id, format: 'pdf-club'}) }}" rel="nofollow">Par club (PDF)</a></li>
            {% if item.tracks is not empty %}
                <li><a class="dropdown-item" target="_blank" href="{{ path('app_event_registration_export', {id: item.id, format: 'pdf-track'}) }}" rel="nofollow">Par circuit (PDF)</a></li>
            {% endif %}
            {% if item.prices is not empty and is_granted('ROLE_ACCOUNTANT') %}
                <li class="dropdown-divider"></li>
                <li><h6 class="dropdown-header">Facturation</h6></li>
                <li><a class="dropdown-item" target="_blank" href="{{ path('app_event_registration_export', {id: item.id, format: 'pdf-billing'}) }}" rel="nofollow">Par club (PDF)</a></li>
            {% endif %}
        </ul>
    </div>
</div>

{% if item.registrations is not empty %}
    <span class="lead">
        {{ 'event.registration.count'|trans({'%count%': item.registrations|length}) }}
    </span>

    <div class="my-2">
        {% set color = {
            'created': 'info',
            'updated': 'warning',
            'deleted': 'danger',
            'validated': 'success'
        } %}

        {% for registration in item.registrations %}
            {% if registration.status.value != 'deleted' %}
                <twig:EventRegistration item="{{ registration }}" page="{{ page }}" event="{{ item }}"/>
            {% endif %}
        {% endfor %}
    </div>

    {% if item.registrationNeedValidation %}
        <div class="d-flex flex-wrap flex-row gap-2">
            <span class="text-nowrap text-success typed-cursor me-2" aria-hidden="true"><i class="bi bi-circle-fill"></i> Inscriptions validées</span>
            <span class="text-nowrap text-info typed-cursor me-2" aria-hidden="true"><i class="bi bi-circle-fill"></i> Nouvelles inscriptions</span>
            <span class="text-nowrap text-warning typed-cursor me-2" aria-hidden="true"><i class="bi bi-circle-fill"></i> Inscriptions modifiées</span>
        </div>
    {% endif %}
{% endif %}