{% extends '@OrienteeringManager/admin/form.html.twig' %}

{% trans_default_domain 'admin' %}

{% block form_content %}
    <div class="accordion" id="accordionPanelsAdminEvent">
        <div class="accordion-item">
            <h2 class="accordion-header" id="panels-form-config-header">
                <button class="accordion-button fw-bold" type="button" data-bs-toggle="collapse" data-bs-target="#panels-form-config-content" aria-expanded="true" aria-controls="panels-form-config-content">
                    {{ 'admin.common.form.card.config'|trans }}
                </button>
            </h2>
            <div id="panels-form-config-content" class="accordion-collapse collapse show" aria-labelledby="panels-form-config-header">
                <div class="accordion-body">
                    {{ form_row(form.live) }}
                    {% if entity.id is not empty and entity.event is not empty and entity.event.id is not empty %}
                        <span class="mx-4 fst-italic">{{ 'admin.result.configuration_live'|trans({'%url%': path('app_admin_live_configuration', {id: entity.event.id})})|raw }}</span>
                    {% endif %}
                </div>
            </div>
        </div>

        <div class="accordion-item">
            <h2 class="accordion-header" id="panels-form-files-header">
                <button class="accordion-button fw-bold" type="button" data-bs-toggle="collapse" data-bs-target="#panels-form-files-content" aria-expanded="true" aria-controls="panels-form-files-content">
                    {{ 'admin.common.form.card.files'|trans }}
                </button>
            </h2>
            <div id="panels-form-files-content" class="accordion-collapse collapse show" aria-labelledby="panels-form-files-header">
                <div class="accordion-body">
                    <div class="mb-3" {{ stimulus_controller('form-collection') }}
                         data-form-collection-index-value="{{ form.files|length > 0 ? form.files|last.vars.name + 1 : 0 }}"
                         data-form-collection-prototype-value="{{ form_widget(form.files.vars.prototype)|e('html_attr') }}"
                    >
                        <ul class="list-unstyled" {{ stimulus_target('form-collection', 'collectionContainer') }}>
                            {% for children in form.files.children %}
                                <li class="d-flex mb-2">
                                    {{ form_widget(children, {'attr': {'class': 'form-control d-lg-flex justify-content-between'}}) }}
                                    <button class="btn btn-outline-danger ms-2 align-self-start" {{ stimulus_action('form-collection', 'removeCollectionElement') }}>
                                        <i class="bi bi-trash"></i>
                                    </button>
                                </li>
                            {% endfor %}
                        </ul>
                        <button class="btn btn-outline-secondary" type="button" {{ stimulus_action('form-collection', 'addCollectionElement') }}>{{ 'admin.event_result.field.files.action.add'|trans }}</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="d-none">
        {{ form_rest(form) }}
    </div>
{% endblock %}
