{% extends '@OrienteeringManager/admin/list.html.twig' %}

{% trans_default_domain 'admin' %}

{% block list_title %}
    {{ 'admin.event_result.list.title'|trans }}
{% endblock %}

{% block list_subtitle %}
    <div class="alert alert-info lead">
        La liste ci-dessous affiche automatiquement tous les événements dont la date de début est inférieure ou égale à la date du jour, pour permettre de configurer le Live Center sur l'événement ou d'ajouter des résultats.<br/>
        Il est possible d'ajouter les résultats directement depuis la modification de l'événement également.
    </div>
{% endblock %}

{% block list_item_title %}
    <span class="fw-bold text-primary me-4">{{ entity.event.name }}</span>
    <span>{{ entity.event.date|format_datetime(pattern='d MMMM Y \à HH:mm', locale='fr') }}</span>
{% endblock %}

{% block list_item_action %}
    <a class="btn btn-outline-primary me-2" href="{{ path('app_admin_event_result_edit', {'id': entity.id}) }}">
        <i class="bi bi-pen"></i>
    </a>
    {% if page is defined and page is not empty %}
        <a class="btn btn-outline-secondary me-2" href="{{ path('app_content_view', {'page': page.slug, 'id': entity.event.id, 'slug': entity.event.slug}) }}">
            <i class="bi bi-eye"></i>
        </a>
    {% endif %}
{% endblock %}

{% block list_pagination_page %}
    <li class="page-item {{ filter.page == num ? 'disabled' : '' }}">
        <a class="page-link" data-turbo="true" href="{{ path('app_admin_event_result_list', num > 1 ? {page: num} : {}) }}" tabindex="{{ num }}">{{ num }}</a>
    </li>
{% endblock %}