{% extends '@OrienteeringManager/base.html.twig' %}

{% block body %}
    <div class="container-fluid container-lg py-4">
        <div class="row">
            <div class="col-12">
                <h1 class="mb-3"><i class="text-primary bi bi-file-x me-2 text-primary"></i> Page introuvable</h1>
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                <p class="lead">
                    La page demandé n'existe pas ou celle-ci a été supprimée.
                </p>

                <a class="btn btn-lg btn-primary" href="{{ path('app_homepage') }}">
                    <i class="bi bi-house me-2"></i>
                    Retour à l'accueil
                </a>
            </div>
        </div>
    </div>
{% endblock %}