<div {{ attributes }}>
    {% if not deleted %}
        <div class="d-flex justify-content-between my-2 py-2 border-bottom position-relative" id="entity-{{ entity.id }}">
            <div class="pe-4 d-flex flex-column flex-lg-row">
                {% if entity.isRequired %}
                    <i class="bi bi-lock-fill text-warning me-1"></i>
                {% endif %}
                <span class="fw-bold text-primary me-4">{{ entity.title }}</span>
            </div>
            <div class="d-flex align-self-start flex-row-reverse">
                {% if not entity.isRequired %}
                    <div data-controller="dialog" data-action="click->dialog#backdropClose">
                        {% include '@OrienteeringManager/include/common/dialog.html.twig' with {
                            answer: '<p>Êtes vous sûr de vouloir supprimer <strong class="text-danger">%s</strong> ?</p>'|format(entity.title),
                            cancelLabel: 'Annuler',
                            confirmLabel: 'Confirmer',
                        confirmAction: 'live#action',
                        confirmLiveParam: 'removeItem',
                    } only %}

                    <button type="submit" class="btn btn-outline-danger" data-action="dialog#open">
                        <i class="bi bi-trash"></i>
                        </button>
                    </div>
                {% endif %}
                <a class="btn btn-outline-primary mx-2" href="{{ path('app_admin_page_edit', {'id': entity.id}) }}">
                    <i class="bi bi-pen"></i>
                </a>
                <a class="btn btn-outline-secondary" href="{{ path('app_page', {'slug': entity.slug}) }}">
                    <i class="bi bi-eye"></i>
                </a>
            </div>
        </div>
    {% endif %}
</div>