{% extends '@OrienteeringManager/admin/page/form.html.twig' %}

{% trans_default_domain 'admin' %}

{% block form_title %}{{ 'admin.page.add.title'|trans }}{% endblock %}
{% block form_submit %}<button type="submit" class="btn btn-primary" data-turbo="false">{{ 'admin.page.add.action.submit'|trans }}</button>{% endblock %}