{% extends '@OrienteeringManager/admin/form.html.twig' %}

{% trans_default_domain 'admin' %}

{% block form_content %}
    <div class="accordion" id="accordionPanelsAdminEvent">
        {% set accordionItemMainExpanded = form.data is not defined or form.data is empty %}

        <div class="accordion-item">
            <h2 class="accordion-header" id="panels-form-main-header">
                <button class="accordion-button fw-bold {{ accordionItemMainExpanded ? '' : 'collapsed' }}" type="button" data-bs-toggle="collapse" data-bs-target="#panels-form-main-content" aria-expanded="{{ accordionItemMainExpanded }}" aria-controls="panels-form-main-content">
                    {{ 'admin.common.form.card.main'|trans }}
                    {% if not accordionItemMainExpanded %}<i class="ms-2 bi bi-check-circle-fill text-primary"></i>{% endif %}
                </button>
            </h2>
            <div id="panels-form-main-content" class="accordion-collapse collapse {{ accordionItemMainExpanded ? 'show' : '' }}" aria-labelledby="panels-form-main-header">
                <div class="accordion-body">
                    {% include '@OrienteeringManager/admin/page/_form_main.html.twig' %}
                </div>
            </div>
        </div>

        {% if form.data is defined and form.data is not empty %}
            {% set accordionItemContentExpanded = true %}

            <div class="accordion-item">
                <h2 class="accordion-header" id="panels-form-content-header">
                    <button class="accordion-button fw-bold {{ accordionItemContentExpanded ? '' : 'collapsed' }}" type="button" data-bs-toggle="collapse" data-bs-target="#panels-form-content-content" aria-expanded="{{ accordionItemContentExpanded }}" aria-controls="panels-form-content-content">
                        {{ 'admin.common.form.card.content'|trans }}
                        {% if not accordionItemContentExpanded %}<i class="ms-2 bi bi-check-circle-fill text-primary"></i>{% endif %}
                    </button>
                </h2>
                <div id="panels-form-content-content" class="accordion-collapse collapse {{ accordionItemContentExpanded ? 'show' : '' }}" aria-labelledby="panels-form-content-header">
                    <div class="accordion-body">
                        {% include '@OrienteeringManager/admin/page/model-form/%s.html.twig'|format(entity.type) ignore missing %}
                    </div>
                </div>
            </div>

            {% if form.data.seoData is defined %}
                {% set accordionItemSeoExpanded = true %}

                <div class="accordion-item">
                    <h2 class="accordion-header" id="panels-form-seo-header">
                        <button class="accordion-button fw-bold {{ accordionItemSeoExpanded ? '' : 'collapsed' }}" type="button" data-bs-toggle="collapse" data-bs-target="#panels-form-seo-content" aria-expanded="{{ accordionItemSeoExpanded }}" aria-controls="panels-form-seo-content">
                            {{ 'admin.common.form.card.seo'|trans }}
                            {% if not accordionItemSeoExpanded %}<i class="ms-2 bi bi-check-circle-fill text-primary"></i>{% endif %}
                        </button>
                    </h2>
                    <div id="panels-form-content-content" class="accordion-collapse collapse {{ accordionItemSeoExpanded ? 'show' : '' }}" aria-labelledby="panels-form-seo-header">
                        <div class="accordion-body">
                            {% include '@OrienteeringManager/admin/utilities/seo_form.html.twig' with {form: form.data.seoData} only %}
                        </div>
                    </div>
                </div>
            {% endif %}
        {% endif %}
    </div>

    <div class="d-none">
        {{ form_rest(form) }}
    </div>
{% endblock %}