{% extends '@OrienteeringManager/admin/list.html.twig' %}

{% trans_default_domain 'admin' %}

{% block list_title %}
    {{ 'admin.page.list.title'|trans }}
{% endblock %}

{% block list_actions %}
    <a class="btn btn-primary my-2" href="{{ path('app_admin_page_add') }}">
        <i class="bi bi-plus-circle me-2"></i>{{ 'admin.page.list.action.add'|trans }}
    </a>
{% endblock %}

{% block list_item %}
    <twig:AdminPage entity="{{ entity }}" />
{% endblock %}

{% block list_item_no_results %}{{ 'admin.page.list.no_results'|trans }}{% endblock %}